[2019-08-20 04:35] renovate[bot] opened #30 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-20 22:24] wbobeirne opened #195 "Displays "undefined sats" for 0"
**Describe the bug**

The channel info display shows "undefined sats" seemingly when it should be zero.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a fresh one sided channel
2. Inspect it & observe

**Screenshots**

<img width="341" alt="Screen Shot 2019-10-20 at 9 48 58 AM" src="https://user-images.githubusercontent.com/649992/67167356-26eb2000-f399-11e9-8167-c8a99167e87a.png">

[2019-10-21 00:57] jamaljsr commented on #195
Ughh! so much for unit tests. lol

Thanks for catching this. Looks like I broken it in my last PR. I’ll get it fixed.

[2019-10-21 14:57] wbobeirne opened #203 "Feature request: Allow export and import of networks"
It would be awesome if we could easily export network state the build up, and send it to other people to import or just use it to restore from if you have a specific state you want to use (testing, tutorials, bug reports etc.)

Docker seems to [support this out of the box](https://docs.docker.com/v17.03/engine/tutorials/dockervolumes/#backup-restore-or-migrate-data-volumes), so hopefully it would

[2019-10-21 17:06] jamaljsr commented on #203
Cool idea. I like it!

I want to add pre-defined and user-defined network templates. So you can quickly spin up a network of mixed nodes (when other implementations are supported) with them funded and/or channels opened. I hadn't thought of the backup/restore/share state scenario which is somewhat related, but slightly more powerful. This will be fun to implement.

Thanks for the feedback

[2019-10-21 19:00] #195 closed

[2019-10-23 05:40] renovate[bot] opened #214 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency antd to v4.24.15](../pull/809)
 - [ ] [chore(deps): update react monorepo](../pull/

[2019-10-25 08:47] ottosuess opened #219 "Feature request: Tor support"
i want to test connecting zap iOS to `.onion` urls. would be amazing if i could just spin up an lnd node that i can connect to over tor.

[2019-10-25 08:50] ottosuess opened #220 "Feature request: lncli terminal"
idk if it scales to add every possible action to the Actions tab.
i would like an "expert mode" `lncli` terminal that i can open for each lnd node where i can just enter lncli commands like `getinfo` and execute them on the selected lnd.

[2019-10-25 14:28] wbobeirne commented on #220
+1, this would be awesome. If you want to do embedded terminals, I highly recommend the [`xterm` package](https://www.npmjs.com/package/xterm). It's the same terminal vscode uses, works great in the browser.

[2019-10-25 15:36] jamaljsr commented on #220
I was actually thinking to add API explorers for LND & bitcoind to allow users to interact with all of the RPC endpoints visually instead of using a terminal. I really want this app to be more UI driven and abstract away all of the command line & config file details. My target audience are developers new to building on lightning. They won't have the knowledge and experience of the command line arg

[2019-10-25 15:41] jamaljsr commented on #219
Great idea @ottosuess. I have not spent much time playing with tor in LND myself. To enable it, we just need to specify some command line arguments, correct? Is a tor daemon need to also be running on the same machine as well?

[2019-10-25 20:00] ottosuess commented on #219
getting an .onion address for your node isn't super simple. here a few guides that explain how to do it:
https://github.com/Stadicus/RaspiBolt/blob/master/raspibolt_69_tor.md
https://github.com/Stadicus/RaspiBolt/blob/master/raspibolt_72_zeus-over-tor.md

[2019-10-25 20:34] jamaljsr commented on #219
Cool, I skimmed through those links. It looks doable. I'll give it a shot when time permits.

[2019-10-25 20:59] wbobeirne opened #221 "Allow inspection of errors"
**Describe the bug**
I've had a couple of cases of my LND nodes not starting. It lets me know there's an error, but I have no way of investigating why that may be. This may also be really useful for debugging issues that are sure to crop up on various user's systems.

**To Reproduce**
Hard to reproduce, but cause an LND node to not launch properly.

**Expected behavior**
Some kind of error message

[2019-10-25 21:07] jamaljsr commented on #221
I've ran into that myself. Been meaning to display the error in the UI. Thanks for submitting the issue so i won't forget.

Were you able to get the nodes started?

FYI: there's a log file which will likely have the error in it. On OSX the file is located at `/Users/<username>/Library/Logs/polar/log.log`

[2019-10-25 21:15] wbobeirne commented on #221
Ended up blowing away the network and starting a new one up. I'll try to save any networks I break going forward though!

[2019-10-27 13:43] #221 closed

[2019-10-27 14:30] justinmoon opened #227 "Sandbox error when running on Arch Linux"
Sandbox error when running on Arch Linux:

[code]

I just updated the `dev:electron` command to use `electron --no-sandbox ...` and it works for development at least ...

[2019-10-27 14:45] jamaljsr commented on #227
Thanks for the bug report. I havent done any testing on linux yet. I’m curious, can you try running the packaged binary for linux to see if it will run? The downloads are in the github releases https://github.com/jamaljsr/polar/releases/tag/v0.0.1

[2019-11-03 14:58] jamaljsr commented on #220
So I spent a bit of time playing with the GRPC explorers and to be quite honest, I don't like the UI of any of them. I feel like I'm going to have to build this myself. Since that would take a fair amount of time and I do want users to have access to all of the lnd/bitcoind RPC, I went ahead and implemented the terminal. @wbobeirne thanks for the tip on xterm, it works great!

I created PR #233  w

[2019-11-05 22:15] #220 closed

[2019-11-06 01:43] valentinewallace commented on #227
Hey @jamaljsr, I'm running arch linux as well and ran into this error using a packaged binary (`polar-linux-x86_64-v0.0.2.AppImage`) from the downloads page (looks pretty simple to fix?) https://i.imgur.com/ykNx5jB.png

[2019-11-06 02:17] jamaljsr commented on #227
Hey @valentinewallace, thanks so much for the screenshots. I plan to spin up an Arch Linux VM and  see if I can fix these issues.

[2019-11-06 19:51] apotdevin opened #242 "Feature Request: Preconfigured LN node configurations"
I would like to add the option to start with a preconfigured LN. For example starting a circular, star, balanced or unbalanced network. Maybe have a hosted config file where anyone can contribute with other ln node configurations

[2019-11-09 09:04] jamaljsr commented on #227
Hey @valentinewallace I fixed the issue when running the packaged binary on Linux. The problem was with docker and file permissions. I tested on Arch Linux and Ubuntu and was able to use the app. If you'd like to try it again, download the [v0.0.4](https://github.com/jamaljsr/polar/releases/tag/v0.0.4) release. Please let me know if you run into trouble,

@justinmoon I was not able to build the ap

[2019-11-09 16:28] #227 closed

[2019-11-20 05:11] bolatovumar opened #246 "Disable "Open channel" button when same nodes selected"
Currently you can attempt to open a channel to self. You get an error notification in this case but this should probably not be allowed in the first place.

[2019-11-20 23:48] #246 closed

[2019-11-21 20:25] apotdevin opened #248 "Error when opening channels"
Hey just downloaded version 0.4.0, started a new network, and when I went to create a new channel this error appeared. I can see the channel is opened through the cli but the UI doesn't update and keeps showing this error

![image](https://user-images.githubusercontent.com/31413433/69373900-2ea62900-0ca5-11ea-9095-48607d79f31c.png)

[2019-11-21 22:11] jamaljsr commented on #248
Hey @apotdevin that's an error I haven't seen before. I skimmed through that code path and do not see anything obvious that could cause this error. Are you able to reproduce the error or was it a one-time issue?

[2019-11-22 04:34] apotdevin commented on #248
Can reproduce every time I create a new network. Let me try deleting everything and starting fresh

[2019-11-22 04:39] apotdevin commented on #248
Yep, deleting everything seems to have solved it. Will let you know if it comes again 👍

[2019-11-22 13:38] jamaljsr commented on #248
Interesting. I'm curious what the problem was, but since you got it resolved 'm going to close out this issue for now.

[2019-11-22 13:38] #248 closed

[2019-12-02 00:26] tiero opened #252 "Unable to open the channel"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a network of two nodes and start it
2. Click on Deposit funds on alice and then quick mine
3. Click on Outgoing
5. Select Alice and Bob and 250,000 sats
6. See error "Unable to open the channel  - Cannot convert undefined or null to object"

**Expected behavior**
A

[2019-12-04 15:54] jamaljsr commented on #252
Hey @tiero thanks for the bug report. I am aware of this issue and have found the source of it. When deleting a network, there is some internal state that doesn't get cleaned up properly. I have this fixed in my c-lightning branch which I plan to merge before the next release. So this issue will be fixed then.

I will leave this issue open until that PR is merged.

Thanks again

[2019-12-08 04:39] jamaljsr commented on #252
The c-lightning branch has been merged into master which includes the fix to this issue. It will be included in the next release.

If you continue to run into this problem in the current release, the workaround is just to close restart Polar. This will clear the internal state that is left over.

[2019-12-08 04:40] #252 closed

[2019-12-09 21:46] arvchristos opened #255 "Feature request: Start nodes with local docker images"
Hello!
I think it would be great for developers to be able to define which image will be used for a node, apart from the predefined ones you already use. This way, we could even test modifications in the lnd itself (I am trying to use a forked lnd version and face difficulties changing the docker image used)
Thank you for the useful project!

[2019-12-09 22:22] jamaljsr commented on #255
Hey @arvchristos this is a pretty good idea. It wouldn’t be difficult at all to add the ability to use custom images for each node. The app can even automatically detect docker images that you’ve built locally to display in a list to choose from.

Thanks for the suggestion.

[2019-12-21 01:31] jamaljsr commented on #255
@arvchristos I've been thinking about how to implement this feature and I see a few approaches I could take.

Specify the docker image...
1. one time for the whole app per node implementation. For example, change all LND nodes from using `polarlightning/lnd:0.8.2-beta` to use `mycustomimage:latest`. This approach allows you to only configure it one time, then you can create many networks and all L

[2019-12-21 12:02] arvchristos commented on #255
@jamaljsr I think that option 3 is the most useful, not only for me but for most developers. Imagine having to test how a custom image interacts with previous versions in a network.
Thank you for taking the time to implement my feature request !!!

[2020-01-03 15:33] tiero commented on #255
+1 I really like to use Polar for testing latest master of lnd (eg. trying the keysend feature)

Any ETA on this?

[2020-01-03 16:24] jamaljsr commented on #255
@tiero I've spent the past 2 weeks testing and fixing bugs on Linux and Windows. I plan to release a new version next week with support for the latest releases of LND, c-lightning & bitcoind.

[2020-01-13 19:26] grunch opened #275 "More contrast on new UI colors"
This is not a bug report, I'm just wanted to let you know that in some screens the new UI doesn't look good, sometimes it's really difficult to distinguish between nodes box and the background, they have almost the same dark color, it would be great to add more contrast to the app.

besides that, polar is amazing, thanks for it and keep up the hard work.

[2020-01-14 02:28] bolatovumar commented on #275
I noticed the reduced contrast as well from the screenshots of the dark theme that I've seen. Probably not too hard to fix and there are tools that can point out color contrast issues.

Also, I'm not sure if the light theme has been removed completely but if it has it might make sense to allow the user to switch between the dark and the light themes.

[2020-01-14 12:47] grunch commented on #275
Yes I was looking for somewhere to change back to the light theme but that option is not available

[2020-01-14 12:53] jamaljsr commented on #275
Hey all, thank you for the feedback.

Is it only the nodes in the designer that are too dark, or can anyone mention other portions of the UI that is difficult to see?

I can work on the contrast and get a patch release out this week. I’ll also try to squeeze in a toggle to switch between dark & light mode.

[2020-01-14 14:12] jamaljsr commented on #275
I just did a quick change locally to lighten the background color of the nodes. Do you think this is enough or should it be lighter?

Before
![image](https://user-images.githubusercontent.com/1356600/72349104-df2f1880-36a9-11ea-8799-fa3ac52ca33f.png)

After
![image](https://user-images.githubusercontent.com/1356600/72349178-05ed4f00-36aa-11ea-998b-577e02147593.png)

I've been using Google's [Mater

[2020-01-14 15:58] grunch commented on #275
Those two screens looks pretty much the same to me, would add more contrast on the nodes :smile:

[2020-01-14 17:32] bolatovumar commented on #275
@jamaljsr there are tools which will point out contrast issues. Some examples:

https://contrast-ratio.com/

https://contrastchecker.com

https://webaim.org/resources/contrastchecker/

[2020-01-14 19:03] jamaljsr commented on #275
Hmmm.. If I make the nodes much lighter, then it won't really be dark mode any more lol. I think bringing back light mode for folks like yourself may be the best solution here.

Thanks for sharing the links. Tools like these are helpful to optimize contrast between foreground text and background colors. The contrast of the text in the nodes is fine in that regard.
![image](https://user-images.gith

[2020-01-18 04:21] bolatovumar opened #276 "Possible to use Polar as back-end for local app?"
In the README it says:
* Sample app projects/code in different languages (Python, Typescript/JS, Go, C#) showing how to connect to the Lightning/Bitcoin nodes from an external app.

Is it currently possible to use Polar as a back-end for an app that needs to connect to LND/c-lightning? Let's say I want to build https://github.com/Ride-The-Lightning/RTL locally and use Polar as a back-end for testi

[2020-01-18 04:46] bolatovumar opened #277 "Sidebar card is not scrollable"
**Describe the bug**
I'm using Polar on Mac Air 13″ not in full screen so the sidebar card is not scrollable at all. As a result I can't see all the details about my nodes unless I go into full-screen mode or something. Would be nice not to have to do that.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app in a small window
2. Create and start a network
3. Try to scroll to see more de

[2020-01-18 15:59] jamaljsr commented on #276
I certainly would want Polar to support connecting to the nodes from all apps being built on lightning. I have not done local development of RTL myself, so I was not aware of the paths it requires to connect to nodes. It is fairly trivial to add those paths to the Connect tab in the UI. I'd gladly add these paths, unless someone else does it before I can ;)

[2020-01-20 21:15] #275 closed

[2020-01-20 21:17] jamaljsr commented on #275
@grunch  I just merged into master the toggle to switch to light mode. I'm going to package up a v0.2.1 release with just this update. Hope this helps you

[2020-01-20 22:29] grunch commented on #275
Awesome thanks buddy

[2020-01-22 18:01] johncantrell97 opened #283 "Cannot push new lnd to docker hub repo"
In the docker/README.md it says we can build our own versions of lnd/bitcoind/clightning and then push those builds to docker hub to update them out-of-band with updates to polar.

Steps to reproduce the behavior:
1. cd docker/lnd
2. docker build --build-arg LND_VERSION=0.9.0-beta -t polarlightning/lnd:0.9.0-beta .
3. docker push polarlightning/lnd:0.9.0-beta

Receive error:

denied: requested acc

[2020-01-22 18:55] jamaljsr commented on #283
You are correct. The instructions in the docker readme is really just documentation for my future as well as any maintainers of the project that I would give write access to the repo. It would be pretty bad to allow anyone to update those images that everyone uses.

There is already issue #255 which I am working on which will allow Polar to use any local docker image on your machine for the nodes.

[2020-01-22 18:59] johncantrell97 commented on #283
Got it, that was my best guess (that it was mostly a note for yourself to remember).  Cool, looking forward to the 0.9.0 lnd release and hope there's no major issues.

[2020-01-22 19:11] #283 closed

[2020-01-24 04:16] bolatovumar opened #284 "Console error when starting a network"
See the screenshot below for the error I see in the console when starting a new network:

![Screen Shot 2020-01-23 at 8 10 11 PM](https://user-images.githubusercontent.com/1934678/73044024-acf58780-3e1c-11ea-956b-10d57a99a108.png)

As you can see from the log the `data` parameter in `log()` method doesn't have a `body` in request (see the log of the request in the top section of the screenshot).

[2020-01-24 23:51] #277 closed

[2020-01-24 23:59] jamaljsr commented on #284
Oops, that does look like a bug. It should check that the `body` is defined or wrap that statement in a try/catch.

[2020-01-26 17:26] bolatovumar commented on #276
@jamaljsr alright, i took a quick look and it doesn't look like `lnd.conf` and `bitcoin.conf` exist in the  `.polar` directory which contains all other data. I'm assuming these configuration file must exist somewhere but not sure where they are.

[2020-01-26 19:27] jamaljsr commented on #276
@bolatovumar You are correct, Polar does not create these configuration files to disk because it passes all config options as command line arguments. These are specified in the `docker-compose.yml` file for each network and are hard-coded in the [nodeTemplates.ts](https://github.com/jamaljsr/polar/blob/master/src/lib/docker/nodeTemplates.ts) file. I implemented it like this because I imagined that

[2020-01-26 20:42] #284 closed

[2020-01-26 23:23] bolatovumar commented on #276
@jamaljsr looks like none of the options I mentioned are actually required. I raised an issue here and got a response: https://github.com/Ride-The-Lightning/RTL/issues/242.

I will attempt to run RTL with Polar and report back if I succeed or have any issues.

[2020-01-27 00:53] jamaljsr commented on #276
Ok cool. Please let me know if you run into any issues.

[2020-01-27 15:44] grunch opened #286 "Bug: 14 UNAVAILABLE: failed to connect to all addresses"
**Describe the bug**
Polar was working fine on my computer but suddenly it stop working, lnd nodes (alice, bob and charlie) changed status to error, when I select one and click the information tab I get

`14 UNAVAILABLE: failed to connect to all addresses`

**Desktop:**
- OS: Ubuntu 18.04.3 LTS
- Polar Version: 0.2.1
- Docker Version: 17.09.0 ce
- Docker Compose Version: 1.16.1

When I execute `do

[2020-01-29 02:56] jamaljsr commented on #286
This is an error I have not seen before. I did a quick search through the LND repo code/issues for this error but didn't come up with any solutions. I also skimmed through the [btcwallet](https://github.com/btcsuite/btcwallet/blob/704cd189ac2386b54ab64e17f67f1c7c5ef5c7ac/wallet/chainntfns.go#L117) code where that error originates. It looks to me that somehow your bitcoind is currently on a block h

[2020-01-29 12:07] grunch commented on #286
Yeah, deleled the network and created a new one, just wanna to let you know about the issue, maybe it can happen to other of your users, I'll close this issue.

[2020-01-29 12:07] #286 closed

[2020-02-03 03:47] bolatovumar commented on #276
@jamaljsr alright, Polar + RTL works together beautifully. Makes RTL development a breeze.

[2020-02-03 03:53] bolatovumar opened #287 "Source balance shown as "undefined sats" before channel is confirmed"
**Describe the bug**
`Source Balance` shows `undefined sats` before channel is confirmed if channel was opened outside of Polar UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Run RTL locally
2. Open a channel from the LND node you using for RTL to another LND node in Polar
3. Notice that `Source Balance` for the channel is shown as `undefined sats`

**Expected behavior**
It should proba

[2020-02-03 09:59] torkelrogstad opened #288 "Feature Request: connect to nodes outside of Polar"
I'm developing an app where I have a pre-existing LND setup. It'd be great if I could connect this to Polar. I'm running my dev environment with `docker-compose`, with an instance of LND connected to `bitcoind`. Through some hacking around with the `$HOME/.polar/networks/1/docker-compose.yml` file I managed to connect my nodes and send payments, although nothing showed up in the GUI (as expected).

[2020-02-03 12:31] jamaljsr commented on #276
Great to hear! I'll close this issue since no further action is needed.

[2020-02-03 12:31] #276 closed

[2020-02-03 14:31] jamaljsr commented on #288
Hey @torkelrogstad can you provide a bit more information about your use case. I don't quite understand why you would use your own node instead of the nodes included in Polar. How are your nodes different?

[2020-02-03 15:16] torkelrogstad commented on #288
There are a couple of things around the definitions of the Docker image itself:
1. The LND images in Polar are downloaded from the LND GitHub. We compile LND ourselves, with custom compilation tags.
2. In the future it's likely that we'll be using our own fork of LND, with custom functionality for channel capacities etc.

Then there's also a few things concerning how the node is managed:

1. We ha

[2020-02-03 15:54] jamaljsr commented on #288
Thanks for the clarification. I think I understand what you're doing. I do have a couple more questions:
1. You obviously are very knowledgable on LND/bitcoind configuration and commands. What benefit does Polar provide you in your development workflow? Is it the ability to easily create/destroy the networks or the visual graph view that is most helpful?
2. I plan to implement the ability to speci

[2020-02-03 16:08] torkelrogstad commented on #255
It would be really nice if it was possible to specify Docker images that's not on Docker hub. I.e. either images built off of a local `Dockerfile`, or an image sitting on a authenticated registry.

[2020-02-03 16:11] torkelrogstad commented on #288
1. I'd say the biggest benefit is easily creating and destroying networks. We want to test our application under different network conditions, which Polar is great for. Something we'd also love to use Polar for, is to emulate real LN activity in a local regtest network. Our development setup would then very closely mimic our production setup. The visual graph view is a nice bonus, but comes in sec

[2020-02-03 16:24] jamaljsr commented on #255
@torkelrogstad My plan was to allow you to specify the name of the docker image. This would just be used in the `image` field of the `docker-compose.yml` file. It would be up to you to ensure that docker can find this image locally or remotely when Polar runs `docker-compose up`.

[2020-02-03 16:26] jamaljsr commented on #288
Great! I do think the custom image feature would get you most of the way to what you need. It may just need a bit more tweaking. I'll keep this open and update you when I have something you can test.

[2020-02-04 16:32] assaad opened #290 "Feature Request: Visualize inbound/outbound and route taken for a paiement"
Hello,
Awesome work, i am curious to know if it will be in the roadmap of the project to visualize the inbound/outbound capacity of channels and the routing road taken for a specific paiement.
Many thanks!

[2020-02-04 18:23] jamaljsr commented on #290
Hey @assaad, thanks for the suggestion.

The inbound/outbound capacity is currently displayed visually in the graph using the green & blue colors on the lines that connect the nodes. The colors will shift from one side to the other as payments are made through the channel. From the perspective of the node that opened the channel, green represents their outbound capacity and blue is the inbound cap

[2020-02-04 21:45] Alex2114 opened #291 "How to compile"
Advice from the developer

Polar is built using Electron which ultimately runs on NodeJS. It uses electron-builder to compile and package the app into an executable.

Packaging Polar on most linux distros should be possible. To do so, you will need to have Docker and NodeJS installed. You'll also need yarn installed globally using "npm install -g yarn".

1. Clone the repo: git clone https://github

[2020-02-04 22:39] jamaljsr commented on #291
Thanks @Alex2114. I will create a contributing document which describes how to get a Polar developer environment setup. It's pretty simple but I guess it shouldn't be assumed that everyone knows how to do it.

[2020-02-04 22:41] Alex2114 commented on #291
OK plaese do, it was bit daunting to see the code at 5 in the morning…
Beaglebone Black is like Raspberry Pi, but open source hardware, used in many miners
Thanks
 
Alex
 

[2020-02-05 03:03] bolatovumar commented on #286
I'm also getting this issue fairly consistently. Deleting the network and creating a new one helps but not always. Sometimes the new network gives you the same error right away. It's not a big deal but just thought I would mention it.

[2020-02-05 03:39] #287 closed

[2020-02-05 05:43] jamaljsr commented on #286
@bolatovumar I wonder if this is caused by the new LND v0.9.0 release.

Were you receiving the same error message in the docker logs?
'panic: Unable to synchronize wallet to chain: -8: Block height out of range'

Are you running on Ubuntu as well?

If this happens again, would you mind sharing your `~/.polar/networks` dir with me.

[2020-02-05 18:36] bolatovumar commented on #286
@jamaljsr i deleted those networks manually from the `~/.polar/networks` folder. I'm running macOS Mojave. Also, I was using LND 0.8.2. I have this screenshot of the error message in dev:

![Screen Shot 2020-02-04 at 6 50 01 PM](https://user-images.githubusercontent.com/1934678/73871631-08534c80-4803-11ea-9356-05e0f866c811.png)

I could take a look at Docker logs but not sure how to get to them.

[2020-02-05 21:32] jamaljsr commented on #286
ok, if you see it again and would like to troubleshoot, you can run `docker-compose logs alice` from within the dir containing the docker-compose.yml file for the network.

[2020-02-06 15:47] bolatovumar commented on #286
@jamaljsr will do

[2020-02-07 14:32] grunch opened #292 "wrong Spanish translation"
Hi, in the spanish version we see this on hexadecimal format of the files.

![polar](https://user-images.githubusercontent.com/228364/74037606-5c923400-499d-11ea-81cc-a5ea7830ee0d.png)

This word means like `witchcraft`, hexadecimal in spanish is `hexadecimal`, so we can not translate that and just put hex or hexa

[2020-02-07 14:45] jamaljsr commented on #292
Thanks for pointing out this translation error. I'll get this fixed for the next release.

[2020-02-07 17:48] #292 closed

[2020-02-08 14:24] #291 closed

[2020-02-20 13:02] hsjoberg opened #296 "Feature Request: Make bitcoind's ZeroMQ servers available on LAN"
Hey there. Awesome project! Helps a lot for experimenting and testing. :smiley:

I have a feature request I would like to discuss.
Right now when running bitcoind, the node's ZeroMQ servers can only listen to incoming connections within the private network (172.x.x.x). I would like it to be available to the host, just like the REST server is.

The reason why I would like this is because when worki

[2020-02-20 14:00] jamaljsr commented on #290
Closing this as there isn't anything actionable to do here. Feel free to follow-up if necessary.

[2020-02-20 14:00] #290 closed

[2020-02-20 14:08] jamaljsr commented on #296
Hey @hsjoberg, this shouldn't be too difficult to add. I do not have any objections to making these ports available to the host. If you are going to work on adding this yourself, please be sure to use the port detection functionality to avoid conflicts on the host. The current detection for REST & GRPC ports can be found in [getOpenPorts](https://github.com/jamaljsr/polar/blob/master/src/utils/net

[2020-02-20 14:45] hsjoberg commented on #296
@jamaljsr Thank you for your reply.
Yes I've already got used to the project's source code. :slightly_smiling_face: Happy to see someone else use `easy-peasy`.
I'll have a PR up tonight or tomorrow so we can discuss and look at it further.

Best

[2020-02-20 18:03] hsjoberg opened #298 "Feature Request: Make Lighting nodes P2P connectivity available on LAN"
Right now when running an lnd or c-lightning node, the node can only listen to incoming connections within the private network (172.x.x.x). I would like it to be available to the host, just like the REST server is.

The reason why I would like this is because when working on a Lightning Wallet, it's currently not possible to connect to the network on a real device, as that would not be on the host

[2020-02-20 18:17] jamaljsr commented on #298
Hey @hsjoberg, fair enough request. Should be pretty straight forward to add.

[2020-02-21 14:29] #296 closed

[2020-02-21 16:07] hsjoberg opened #302 "Feature Request: btcd node"
I saw that this was included in the TODO, but I would like to open an issue about it so we can discuss and keep track of it.
I would like to be able to use btcd as a backend instead of bitcoind.

As lnd makes use of Neutrino SPV for mobile and embedded devices, it's currently not possible to have a complete test environment using Polar as there's no support for the Neutrino protocol in bitcoind ye

[2020-02-21 17:10] jamaljsr commented on #302
Yes, adding support for btcd was an original goal of mine since the beginning. It's been lower priority for me because I felt it important to focus on the features that were specifically requested by users first. It would be great if you wanted to work on this. I have no objections.

I have used btcd for my simnet lightning nodes in the past but have never written an app utilizing its RPC interfac

[2020-02-21 21:14] #298 closed

[2020-02-27 20:07] valentinewallace opened #304 "Bug: "ENOENT: no such file or directory, open '<...filepath...>/lnd-2/tls.cert'""
**Describe the bug**
https://i.imgur.com/KYDsspe.png
https://i.imgur.com/Ld9H8mD.png
https://i.imgur.com/XWGbALC.png
https://i.imgur.com/WPAILGi.png

[code]
^ Also applies to lnd-1.
Bitcoind gets this error:
[code]

**To Reproduce**
1. Build polar from source on arch linux using `yarn package`
2. from the `dist` directory: `./polar-linux-x86_64-v0.2.1.AppImage`

**Expected behavior**
No error

**D

[2020-02-27 20:27] jamaljsr commented on #304
Hey @valentinewallace thanks for the bug report.

Are you using a network that was created with an older version of Polar? The path where it looks for the cert had changed in v0.2.0 from `/home/valentine/.config/polar/data/networks` to `/home/valentine/.polar/networks`. I am not sure why it is still using that path. Maybe the migration at startup failed for some reason.

Can you try creating a new

[2020-02-27 20:33] valentinewallace commented on #304
That worked, thanks!

Probably, I've had polar for a while. Probably not a common problem so feel free to close this issue if you prefer!

[2020-02-27 20:35] jamaljsr commented on #304
Oh wow, I just realized the LND node names are `lnd-1` & `lnd-2`. You were using Polar even before the first release 🙀. The names were to alice, bob, carol... before v0.1.0. You are unfortunately the victim of early adopter syndrome. Starting a new network is the best cure for your ailment.

Thanks for the early support 👍

[2020-02-27 20:35] #304 closed

[2020-02-28 18:36] nicolasburtey opened #307 "lnd abandonchannel"
It seems this feature is not available:

[code]

[2020-02-28 18:40] #255 closed

[2020-02-28 18:40] #288 closed

[2020-02-28 18:41] nicolasburtey opened #308 "Bug: display of commands seems it in in erase mode (versus insert)"
**Describe the bug**
The display of characters in the command line is like in "overwrite" mode instead of "insert" new caracters

**To Reproduce**
Write a command in the one of the shell shell
Use Up arrow, the display is all messed by mixing current and past command.

**Screenshots**
![image](https://user-images.githubusercontent.com/11156370/75577439-d48cd080-5a16-11ea-97c6-476bb266794a.png)

**

[2020-02-28 18:47] jamaljsr commented on #307
We currently use the production builds of LND in the docker images. So this command is not available.

I just merged PR #299 which adds the ability to use a custom docker image, so it will be in the next release. With this, you'll be able to create images using any build of LND that suites your needs.

Would this work for you?

[2020-02-28 18:51] jamaljsr commented on #308
Hey @nicolasburtey

I have also seen this behavior myself.  I just haven't gotten around to fixing it yet. Thanks for the bug report.

[2020-02-28 19:47] nicolasburtey commented on #307
yes, awesome.

don't know if there is debug build available, but if there is would be
great to point it out in the doc!

[2020-02-28 22:08] jamaljsr commented on #307
There isn't a debug build available to download, but you can compile it yourself from the source code. Check out the [CONTRIBUTING](https://github.com/jamaljsr/polar/blob/master/CONTRIBUTING.md) docs for details on how to do that.

[2020-02-29 05:25] #308 closed

[2020-03-01 03:07] jamaljsr commented on #307
Closing this now. Let me know if you have any other questions.

[2020-03-01 03:07] #307 closed

[2020-03-05 07:18] wbobeirne opened #314 "Bug: Fatal error when opening network from v0.2.1"
**Describe the bug**
Pulled the latest master to get that ZMQ exposure, and opened up the network I had made from `v0.2.1`. I assume there was some change in the data structure that may require some kind of migration, but I haven't dug into it.

**To Reproduce**
Have not reproduced in isolation yet, but here's what I did to get it to happen
1. Run the current release of polar
2. Create a network
3

[2020-03-05 07:22] wbobeirne opened #315 "Bug: Unhandled rejection from node request"
**Describe the bug**
When starting a fresh network on the latest master, I got an error while spinning up a network with 2 LND nodes and one Bitcoind node.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new network
2. Maybe see `Unhandled Rejection (Error): 14 UNAVAILABLE: failed to connect to all addresses`

**Screenshots**

<img width="1012" alt="Screen Shot 2020-03-05 at 1 22 25

[2020-03-05 16:14] jamaljsr commented on #314
Hey @wbobeirne, I knew about this issue. The problem is that in master, the package version is still set to 0.2.1. So the migrations will not run on a network that was created with the actual v0.2.1 release build. I usually bump the app version right before a new release instead of in master. I have been manually changing my network file version from `0.2.1` to `0.2.0` in order to trigger the migr

[2020-03-05 20:22] jamaljsr commented on #315
I'm not sure what's going on here. I've tried to replicate it locally with no luck. Was this a one time issue or are you able to replicate it? If so, can you share these log files?

App Logs
`~/.polar/logs/main.log` and `~/.polar/logs/renderer.log`

LND Log (just from one node that didn't start)
`~/.polar/networks/<networkId>/volumes/lnd/<node>/logs/bitcoin/regtest/lnd.log`

[2020-03-07 01:59] jamaljsr commented on #314
I fixed this in the master branch (https://github.com/jamaljsr/polar/commit/4149e76fdd0ce75285b1097cc9539f490fd5cf47). I didn't feel it necessary to open a PR for a one-liner.

Thanks for the bug report 👍

[2020-03-07 01:59] #314 closed

[2020-03-07 02:17] wbobeirne commented on #314
Nice one!

[2020-03-07 20:19] wbobeirne commented on #315
Sorry for the delay, here's everything from around the time it crashed: https://gist.github.com/wbobeirne/eb6875309d3ac15e81286f7a76fc9673

Looks like the noteworthy is carol's last one:

[2020-03-07 21:41] jamaljsr commented on #315
No worries. Thanks so much for the logs. They are super helpful.
_Note: In the timestamps below, please ignore the hour. They are offset because of timezone differences in the docker containers. Focus on the minute & seconds._

I think I see what happened here. We currently give all the nodes 30 seconds to boot up and successfully respond to RPC requests before deeming them as failed. The app poll

[2020-03-07 22:13] wbobeirne commented on #315
Nce detective work! Yeah I'm on a Macbook Pro 2015, and was definitely running a good few things at the same time, so not quite the monster you're packing. I think bumping it up would definitely be reasonable for those of us developing on the go.

Glad to hear the catch is in place though, that was definitely the main issue. I'll close this out since that was merged.

[2020-03-07 22:13] #315 closed

[2020-03-10 07:50] jamaljsr commented on #315
@wbobeirne FYI, the timeout increase to 60secs is now in master (https://github.com/jamaljsr/polar/commit/75acb8ffd09930999b5caa3fa5375785343cc843)

[2020-03-10 09:13] #203 closed

[2020-03-10 09:24] jamaljsr commented on #242
Hey @apotdevin, I just merged in PR #203 which adds the ability to import & export networks. This should allow you to create the preconfigured networks and load them in Polar whenever you want to start fresh. Hopefully, this suits your needs. I still have to put more thought into the hosted scenario, to figure out the best place to store the zip files as well as decide if the configs should live i

[2020-03-23 16:19] nepet opened #324 "Feature Request: Polar CLI"
**Is your feature request related to a problem? Please describe.**
For automated testing of applications that require a LND network on a ci-server we can not use a GUI.

**Describe the solution you'd like**
A CLI (or any form of api) covering the basic functionality of polar, especially the creation of networks in a certain state (maybe by network import) without the need of a graphical user inter

[2020-03-23 19:10] jamaljsr commented on #324
Hi @nepet, I have heard a similar request before. It's a great idea that I do hope makes it into the project one day. This would be a pretty substantial change to the plumbing of how Polar works now, and I personally cannot commit to implementing this in the near future. Obviously, PR's are welcomed.

In the meantime, have you seen the [simverse](https://github.com/darwin/simverse) project? It is

[2020-03-24 11:58] nepet commented on #324
Hi @jamaljsr, Thanks for your fast response. I didnt know about simverse. Thanks for the hint I will give it a shot.

[2020-03-25 16:33] mrfelton opened #327 "Ability to connect to existing node cluster"
**Is your feature request related to a problem? Please describe.**
I have an existing cluster of lnd nodes defined in docker-compose files and would like to be able to connect the Polar UI to it so that I can visualise the node cluster and easily move money between nodes rtc.

**Describe the solution you'd like**
Ability to connect Polar to my existing lnd/bitcoins node cluster.

[2020-03-25 18:05] jamaljsr commented on #327
Hey @mrfelton, thanks for the suggestion.

Just for clarity, how do you imagine this working from a UX perspective? My initial thoughts are that when you create a new network, you add some "external" nodes by supplying their API credentials (ex: host, cert, macaroon, rpc login). With the network created, Polar would just connect to all the nodes and display them in the UI and allow you to interact

[2020-03-25 19:46] jamaljsr commented on #324
I'm going to close this for now as I cannot commit to taking any action on it.

[2020-03-25 19:46] #324 closed

[2020-03-26 10:34] mrfelton commented on #327
Hi @jamaljsr

I think thats pretty much it - the ability to connect to external nodes so that you can use the UI as a visualisation tool and as an easy way to manage the channels between the nodes.

We have a node cluster defined in docker-compose that we use as part of a development stack for our apps. Multiple members of the team develop against this stack and so this approach allows them to do

[2020-03-26 20:34] jamaljsr commented on #327
Thanks for the additional info. That does clear it up for me and I see why Polar, as it stands today, wouldn't work for your use case.

I think this is a good idea and is worth implementing. It's going to take a bit of work because right now the UI layer expects there to be a Polar-managed docker-compose network living underneath it. There will need to be a distinction between networks that Polar

[2020-03-27 10:04] mrfelton commented on #327
Our stack includes a bitcoind node so this would also be an externally managed node (at least with how our setup works today). We generally mine the blocks manually as and when needed but from a Polar perspective I think it would certainly be useful to be able to make the bitcoin node automatically mine blocks when needed (when opening channels for example) and leverage the "quick mine" button to

[2020-03-27 12:32] jamaljsr commented on #327
Cool. Thanks for the additional details. This is helpful. The overall idea is pretty clear to me now.

[2020-04-03 02:16] nickycutesc opened #333 "Bug: Unable to view Polar in the browser when building from source"
**Describe the bug**
A clear and concise description of what the bug is.

After successfully building from source, I'm presented with this information:

Starting the development server...
Compiled successfully!
You can now view polar in the browser.
Local:            http://localhost:3000
On Your Network:  http://10.0.1.5:3000

I try to view the http:// addresses in my browser, but all I see is a

[2020-04-03 02:30] jamaljsr commented on #333
Hey @nickycutesc,

Polar won't run in the browser. That local web server is only used for development to be able to reload the app quickly without needing to re-package after every code change.

When you run `yarn dev`, you should see an Electron app window open on your desktop which contains loads the React app inside of it. If this window is not opening for you, can you please paste the full ter

[2020-04-03 02:32] nickycutesc commented on #333
Hey @jamaljsr

I am able to see the Electron app window. Thanks for the explanation and all the best with @lightning!

[2020-04-03 02:34] jamaljsr commented on #333
Ok, great.

And thank you!

[2020-04-03 02:34] #333 closed

[2020-04-11 19:55] johnpaulkiser opened #336 "Problem installing docker on Ubuntu from .deb"
_Opening/Closing an issue to document a common error Ubuntu & other linux users may face when installing Docker for Polar._

### Error:
[code]

Receiving this error after installing docker means that Polar is running without root privileges while docker requires root privileges.

### Solution:
After installing docker & docker compose like normal, create a Unix group to add users to that need docke

[2020-04-11 19:56] #336 closed

[2020-04-11 20:38] jamaljsr commented on #336
Thank you for documenting this problem. 👌

[2020-04-26 17:38] sagarpattasi7 commented on #327
sorry that I'm posting this out here . May I know how could I use this tool for research purpose.
I would be very grateful for your suggestions .

[2020-04-26 18:35] jamaljsr commented on #327
@sagarpattasi7 Yes, it would have been better to open a new issue for your question instead of asking here. It’s ok.

To answer your question, this project is open source with an MIT license. You can use it however you choose in your research.

[2020-05-27 17:59] baebb commented on #242
@jamaljsr @apotdevin do you guys have any preconfigured network zips to share?

BTW Preconfigs are great! Just would be cool to get some to try out

[2020-05-27 21:15] jamaljsr commented on #242
Hi @baebb, I personally don't have any to share, but I agree that it would be cool to have some sort of online repo to load community created networks into Polar. It's not something I am actively working on at the moment but I would love to see this built eventually.

[2020-06-09 15:35] AnthonyRonning opened #350 "Bug: No docker manifest for LND 0.10.1-beta"
**Describe the bug**
Refreshed the docker images in Polar and saw 10.1 was available, added it to my network and clicked start but after a few short seconds, it came up with a "no manifest" error on that node. Luckily the instructions here (https://github.com/jamaljsr/polar/tree/master/docker#lnd) worked and I was able to manually build the image on my local machine but I believe the problem is th

[2020-06-09 17:10] jamaljsr commented on #350
Hey @AnthonyRonning, thanks for reporting this issue. You are correct. It appears that I did forget to push the image to docker hub after building and testing it locally. I just pushed it so it shouldn't be an issue for anyone else going forward. I'm glad you were able to work around the issue locally.

I am planning on automating the update process for new node versions. I just need to write more

[2020-06-09 19:20] AnthonyRonning commented on #350
Awesome! Yeah no worries, thanks a lot! Didn't realize it was that easy to make a build too.

[2020-06-09 20:31] #350 closed

[2020-06-18 21:11] boufni95 opened #352 "Bug: Can't connect to LND container from other container"
**Describe the bug**
When I try to create a new container that uses GRPC to connect to LND, I get error 14

**To Reproduce**
Steps to reproduce the behavior:
1. Create a network with Polar
2. Try to connect to LND via GRPC from another container
3. See error

**Expected behavior**
The connection works without errors

**Desktop (please complete the following information):**
- OS: Windows 10 v2004
-

[2020-06-19 14:04] jamaljsr commented on #352
Hi @boufni95, thanks for the detailed bug report and for providing your workaround. The `tlsextradomain` value is indeed incorrect. I'll get this fixed before the next release.

[2020-06-24 14:54] #352 closed

[2020-06-26 07:25] apotdevin opened #359 "Feature Request: Loop"
I'm not sure if this is in the scope of this project but would be cool :D

**Is your feature request related to a problem? Please describe.**
I can't test Loop with Polar

**Describe the solution you'd like**
I want the possibility to get a Loop instance running connected to my lightning docker network

[2020-06-26 20:30] jamaljsr commented on #359
Hey @apotdevin. I also would love to have Loop support in Polar. Unfortunately, this is not possible today. `loopd` communicates with a backend server to perform the offchain <-> onchain swaps. Lightning Labs maintains these servers for mainnet & testnet. The backend's code is closed source and therefore I cannot make it into a docker image to run inside Polar. My hope is that someday in the futur

[2020-06-26 20:30] #359 closed

[2020-06-26 20:47] apotdevin commented on #359
Thanks for the info! Yeah wasn't to sure if it was even possible so thanks for the clarification. Awesome to hear :) would definitely simplify a lot of integration testing.

[2020-07-15 17:26] AnthonyRonning opened #362 "Bug: All my LND nodes stopped starting up"
**Describe the bug**
Have a network of 2 LND 10.0, 1 LND 10.1, and a clightning and an eclair. Been working fine for a few weeks, however today, even after restarting, I can't get my LND nodes to start up. Getting the same error on all of them.

Polar error: `14 UNAVAILABLE: failed to connect to all addresses`

Docker error:
[code]

is it the `no such file or directory` that's causing the issue? R

[2020-07-15 18:02] jamaljsr commented on #362
Hey @AnthonyRonning,

I think this may be a Polar bug. I have a couple of questions.

1. What's the version of the bitcoin node in this network?
1. If you create a new network, will LND nodes start up successfully?

[2020-07-15 18:14] AnthonyRonning commented on #362
`v0.19.1`

For some reason I can't create a new network. Tried restarting a couple times, but the button doesn't do anything.
<img width="1375" alt="Screen Shot 2020-07-15 at 12 14 31 PM" src="https://user-images.githubusercontent.com/10763569/87580449-c8876f80-c694-11ea-9714-be6e759775d6.png">

[2020-07-15 18:55] jamaljsr commented on #362
Can you update to Polar v1.0.1? I think I may have accidentally broke earlier versions when adding support for bitcoind v0.20.0.

[2020-07-15 19:13] AnthonyRonning commented on #362
Oh cool, that seemed to work! Sorry, I was not aware there was an update. Only weird thing is that those channels aren't showing up right now in the GUI, but shows up in Zap (perspective of Erin). Restart (both app and network) didn't seem to pick up awareness. NBD though.

<img width="1013" alt="Screen Shot 2020-07-15 at 1 09 29 PM" src="https://user-images.githubusercontent.com/10763569/87585849

[2020-07-15 19:22] jamaljsr commented on #362
Awesome! Glad that worked.

To fix the channel issue, just click on the canvas so none of the nodes are selected. Then click on the refresh icon on the top right of the sidebar. This resets the channels in the designer to match what is reported by the nodes. Sometimes it gets out of sync.

[2020-07-15 19:24] AnthonyRonning commented on #362
<img width="1011" alt="Screen Shot 2020-07-15 at 1 23 47 PM" src="https://user-images.githubusercontent.com/10763569/87586837-6d5a7a80-c69e-11ea-818b-b262671bf387.png">

Beautiful! I had thought that refresh button just pulled down new versions (forgot that's at the bottom). Thanks so much!

[2020-07-15 19:24] #362 closed

[2020-07-26 20:45] Kixunil commented on #327
I'd love to integrate polar into [my project](github.com/Kixunil/cryptoanarchy-deb-repo-builder/) and this feature is required for smooth integration. I'd also like to request being able to configure it automatically (ideally by placing a file somewhere in `/etc` on the host OS).

Being able to communicate with the internal nodes would be very valuable for me.

[2020-08-07 08:53] losnappas opened #365 "Bug: removed lightning nodes don't disappear from UI"
**Describe the bug**
A couple of times I had this bug where my c-lightning nodes wouldn't start up, giving me errors related to the socket or whatever. I removed those nodes and added new ones, which worked, but now I've got "alice" and "bob" - the nodes I removed - just hanging around.

This isn't a major issue, but I thought I'd post it anyways. The bigger issue might be that my nodes don't star

[2020-08-07 15:44] jamaljsr commented on #365
Hey @losnappas this is an interesting issue you are running into. Without being able to reproduce the issue, it'll be a bit challenging to find a solution, but I'm open to giving it a shot.

It sounds like the issue occurs after rebooting your VM. I've also ran into issues when I reboot my machine without stopping the Polar network first. Docker doesn't always shutdown the containers gracefully an

[2020-08-07 16:01] losnappas commented on #365
I definitely haven't. Sometimes I hit the 'x' on the virtualbox vm window and shut it down that way, giving no regard to programs running. That said, I did stop it a couple of times before it shutting down, but it did not fix the ghost nodes, and I can't recall if it helped with the nodes not starting or not.

It's a bit too much effort to go rebooting the vm just to try this out, since it takes s

[2020-08-07 16:08] jamaljsr commented on #365
Ok. I believe that may be the issue but there's no way to know for sure without testing it. I would highly recommend first stopping all Polar networks before shutting down the VM in the future.

In regards to the current ghost nodes you have, I suggest deleting the network and create a new one. I don't think this broken network can easily be repaired.

Thanks for the bug report. Appreciate it 👍

[2020-08-07 16:19] #365 closed

[2020-08-20 16:36] jamaljsr opened #370 "Feature Request: Expose bitcoind p2p port on host machine"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to connect an external bitcoind node to the internal nodes in a network using the `-addnode` flag. The p2p port 8444 is not exposed to the host machine.

**Describe the solution you'd like**
Expose the p2p port for each bitcoind node and display the port in the node details sidebar.

[2020-08-24 15:13] mykhailo-gaidai opened #373 "Question: How to connect to lightning nodes from remote mobile app?"
Excuse me for the stupid question, but is there a way to allow lightning nodes to accept connections from the local network (using host ip as external one)?
For example, how to connect to any lightning node using mobile wallet app?

[2020-08-24 16:49] mykhailo-gaidai commented on #373
Connecting to lnd node from mobile app can be achieved by port forwarding from mobile to the machine where Polar is running
The question was quite stupid indeed :)

[2020-08-24 16:49] #373 closed

[2020-08-24 17:42] jamaljsr commented on #373
@mykhailo-gaidai not a stupid question at all. I've been asked this a few times already. Port forwarding or SSH tunneling is the approach I would recommend. I'm glad you were able to figure this out yourself. 👍

[2020-08-28 05:04] #370 closed

[2020-08-28 07:55] grmkris opened #375 "Feature Request: CLI autocomplete for lightning & bitcoin nodes"
**Is your feature request related to a problem? Please describe.**
I like to use CLI when interacting with nodes. Sadly autocompletion doesn't work.

**Describe the solution you'd like**
When pressing tab button bitcoin-cli or lncli should show all available options

**Additional context**
I can try implementing this if you give me some pointers

[2020-09-02 20:50] jamaljsr commented on #375
Sup @grmkris thanks for the feedback. I also think this would be pretty cool to have in the terminal. I believe this would need to be configured in the docker images. Polar uses xtermjs to proxy keypresses from the Electron window into the container. I'm not sure if TAB is also proxied, but it's worth a shot.

[2020-09-22 22:59] wbobeirne commented on #375
Tab completion definitely works with xterm, so this is likely just the container missing something for autocomplete!

[2020-10-19 15:06] kibotrel opened #388 "Feature Request: Rename nodes"
It would be nice if we could rename each individual node. Sometimes, Alice, Bob and Carol... are too vague for practical usage.

[2020-10-19 17:51] jamaljsr commented on #388
I agree, this would be a good feature to implement. I don't think there are any downsides to renaming a node. It would just need to update the value stored in the network and restart the node in order for the `alias` to be updated.

Thanks for the feedback.

[2020-11-08 09:25] MrCull opened #392 "Doc: The README file in this repo has a bad link - [404:NotFound]"
**Describe the bug**
The README file in this repo has a bad link - [404:NotFound]

The markup version of the readme that is displayed for the main page in this repo contains the following link:
Status code [404:NotFound] - Link: https://github.com/jamaljsr/polar/releases/download/v1.0.1/polar-mac-v1.0.1.zip  (zip)

(The link in the readme’s raw markdown may appear in a different format to the link

[2020-11-08 19:49] bolatovumar commented on #392
I don't think there is a special link for a zip file for Mac specifically. There is a zip file of the source code, however: https://github.com/jamaljsr/polar/archive/v1.0.1.zip

[2020-11-09 14:15] jamaljsr commented on #392
Good catch. I have removed (https://github.com/jamaljsr/polar/commit/346fa54d4f00efd8203d944c61d5d269c7418099) the ZIP file download link for Mac since this version is not included in releases.

[2020-11-09 14:15] #392 closed

[2020-12-04 15:22] michaelWuensch opened #402 "Unable to build. New release?"
**Describe the bug**
I am unable to run or package the project on my system.

**To Reproduce**
Steps to reproduce the behavior:
Probably this happens only on my system but I did the following:
1. Installed all prerequisites. (Official 1.01 release is running on my machine)
2. cloned the repo
3. yarn
4. "yarn dev" or "yarn package" both throw errors

yarn dev throws the following error:
[code]

"ya

[2020-12-04 17:57] jamaljsr commented on #402
Hey @michaelWuensch, I've tested on my machine and it builds properly. I also see that the [CI builds](https://github.com/jamaljsr/polar/actions/runs/398230230) for commit [4fbad43](https://github.com/jamaljsr/polar/commit/4fbad43ec634793b07fb3b515ba9e972fcfe19af) completed successfully as well.

That error makes me believe your terminal may be using the wrong version of Typescript. It should be `

[2020-12-04 18:04] michaelWuensch commented on #402
@jamaljsr thanks for your help! Didn't know i can get the new images so easily, that is fantastic!
The version returned in my terminal is 4.1.2

[2020-12-04 20:02] jamaljsr commented on #402
Ah ok, you are using a newer version of typescript which does raise an error. I'll need to update the code to make it compatible with that version. There's already a failing PR (#397) which I need to address.

I'm glad you were able to get it working with the released binary. Best of luck on your project 👍

[2020-12-04 20:02] #402 closed

[2020-12-08 23:00] murtyjones opened #403 "Bug: Compile error when running `yarn dev`"
**Describe the bug**

Working from the instructions in the contributing doc, I ran into this compile error when setting up my environment:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
1. `yarn`
1. `yarn dev`

**Expected behavior**
App starts up

**Screenshots**
![image](https://user-images.githubusercontent.com/708562/101551216-b2998480-397e-11eb-9b71-c8b8f4f4fc36.pn

[2020-12-08 23:38] jamaljsr commented on #403
Hey @murtyjones what version of `node` do you have installed?

[2020-12-09 00:36] murtyjones commented on #403
Hey there, I'm running 10.22.0

[code]

[2020-12-09 02:37] jamaljsr commented on #403
Could you try switching to v12.x or v14.x? I have a hunch that may be the problem.

[2020-12-09 02:41] bolatovumar commented on #403
I wonder it it makes sense to specify the `engines` field to be explicit about what version of Node is expected? https://docs.npmjs.com/cli/v6/configuring-npm/package-json#engines

[2020-12-09 02:41] murtyjones commented on #403
Yeah I was wondering if an upgrade was needed too. Unfortunately node v12.20.0 and 14.15.1 produce the same error. Can't make much of the stack trace

[2020-12-09 02:57] bolatovumar commented on #403
I just tried it and I'm running into the same issue. Using Node **v12.16.2** and Yarn **v1.22.0**.

![Screen Shot 2020-12-08 at 6 55 39 PM](https://user-images.githubusercontent.com/1934678/101568237-22ac0880-3987-11eb-965a-77831ade6513.png)

[2020-12-09 03:18] jamaljsr commented on #403
Oh wow! I see the issue now. It was working fine until I deleted the `node_modules` folder. I will investigate. Thanks for notifying me of the problem.

[2020-12-09 05:03] jamaljsr commented on #403
I think I've found and fixed the issue in https://github.com/jamaljsr/polar/pull/404. Can you checkout this branch and see if you are able to run the app without getting that error?

[2020-12-09 11:48] murtyjones commented on #403
@jamaljsr On that branch the error seems to have gone away – unfortunately only to be replaced by a new one 😞
![image](https://user-images.githubusercontent.com/708562/101626090-6c7a0a80-39ea-11eb-9bba-86ea4676469e.png)

[2020-12-09 13:14] murtyjones commented on #403
Actually, it looks like it works if I delete the `node_modules` folder and rerun `yarn` and then `yarn dev` 👍

[2020-12-09 17:31] jamaljsr commented on #403
Excellent! thanks for testing.

[2020-12-09 17:33] #403 closed

[2020-12-09 22:09] murtyjones commented on #403
thank you @jamaljsr!

[2020-12-10 00:44] murtyjones opened #405 "Bug/Question: using yarn cm"
This is probably a user issue, but I'm trying to commit a change on a fork and hitting some obscure error in using `yarn cm`
![image](https://user-images.githubusercontent.com/708562/101706353-e34ced00-3a56-11eb-9ede-5eb0147f5a5c.png)

[2020-12-10 01:03] jamaljsr commented on #405
Yes, I know this hasn't worked for some time. I assume one of the dependency updates broke it.

Personally, I've just stop using it for the time being. The traditional `git commit -m "..."` still works fine.

I'll either figure out how to fix it or just remove `yarn cm` from the scripts.

[2020-12-13 15:38] murtyjones opened #408 "Feature Request: An example of using polar"
Firstly, I just want to say that Polar is awesome and I'm really excited that a tool like this exists for the ecosystem!

I've been playing with it for the last few days, trying to get a working script that allows Alice to open a channel with Bob. Doing so, at least in my chosen language (TypeScript) was trickier than I thought it'd be.

For new developers who are unsure where to get started, a si

[2020-12-15 04:10] jamaljsr commented on #408
Hey @murtyjones thanks for all of the feedback and for opening an issue first before creating a PR.

I certainly agree that sample code would be great to help new devs get started working with the lightning nodes. I had a bit of a bigger vision however. I wanted to create sample apps instead of just code snippets. The apps would still be pretty simple. Maybe just fetching the list of open channels

[2020-12-15 12:58] murtyjones commented on #408
Thanks for sharing some context.

What you're saying makes sense to me, although I'd suggest that some of these steps can be done incrementally. For example, starting with a TS/JS example for each of the three implementations wouldn't prevent the other language samples being added later on. I suggest this only because I'd be happy to help by working on those sample TS apps so that there's somethin

[2020-12-15 17:28] jamaljsr commented on #408
I think that's a fair compromise. We have to start somewhere. Maybe having some TS samples will encourage others to contribute the additional languages.

Just an FYI, if you aren't aware, there's the [RadarTech/lnrpc](https://github.com/RadarTech/lnrpc) npm module that can be used to connect to `lnd`. It has types built-in and is updated regularly for new releases. This is what Polar uses to conne

[2020-12-15 22:14] murtyjones commented on #408
Cool, sounds good! I'll take a look at it and ideally would like to share some kind of an outline before I get too far into implementation.

I'll take another look at `lnrpc`. There was an [issue](https://github.com/RadarTech/lnrpc/issues/80) when I tried it last week but it's since been fixed 🚀

[2020-12-17 03:17] murtyjones opened #410 "Bug: Lightning nodes not restarting on subsequent development sessions"
**Describe the bug**
The `lnd` and `c-lightning` nodes in my session aren't restarting properly when I fire up `yarn dev`.

For `lnd`, the container is panicking with `panic: Unable to synchronize wallet to chain: -8: Block height out of range`

For `c-lightning`, the message is `bitcoind has gone backwards from 173 to 4 blocks!`

**To Reproduce**
Not sure exactly how this is reproduced but I _thi

[2020-12-17 03:35] jamaljsr commented on #410
Hey @murtyjones Ive seen this a bunch of times myself, though I have never been able to track down a root cause. I agree it's got something to do with the docker containers restarting. I've noticed it happens after my machine sleeps or reboots and i forgot to stop the network.

The workaround I do is simply import or create a new network. This hasn't been too painful for me. In my workflow, I dele

[2020-12-17 11:33] murtyjones commented on #410
Makes sense! I'll use that workaround.

I wonder whether or not this is likely to be an issue with the built version of the app, since the docker functionality is bundled

[2020-12-18 01:21] murtyjones commented on #408
For the "app" functionality, I was thinking of proposing something using an interactive terminal, as opposed to a web app or electron app that would complicate the example project structure. But curious to hear what you think @jamaljsr?

![image](https://user-images.githubusercontent.com/708562/102562520-3cdf9800-40a5-11eb-8fa9-78480a155906.png)

[2020-12-18 17:51] jamaljsr commented on #408
Good idea 👍

This removes the need for a frontend web framework which can add a bunch of code unrelated to Lightning. Your approach sounds good to me.

[2021-01-07 17:12] lessless opened #415 "Allow to manage remote networks"
**Is your feature request related to a problem? Please describe.**
No it's not.

**Describe the solution you'd like**
I want to manage remote networks.

Right now Polar allows managing only local networks, but it's awesome that I want to be able to manage my staging networks as well.
And allow beta-users/testers to pay their invoices inside that network!

**Additional context**
Imagine I'm develop

[2021-01-07 19:45] jamaljsr commented on #415
Hey @lessless, this is an interesting suggestion.

It may be a bit out of scope for using Polar as a developer tool, but I'm curious what you envision the staging environment to look like. Do you want to run regtest nodes, or maybe testnet? Would this be running on a cloud-based machine with no UI? Can you tell me more about how the "remote network" would be setup?

[2021-01-07 21:07] lessless commented on #415
Can you please explain the difference?

Yes

As a user, when I create a new network I want to be able to select whether it's local or remote.
Then, if it's a remote network I want to be able to enter some credentials. After that everything should stay exactly the same.

It's totally reasonable that I have to set up a remote machine to be compatible with this feature.
For example:
  - install docke

[2021-01-11 19:38] jamaljsr commented on #415
https://developer.bitcoin.org/examples/testing.html contains a good explanation of the differences between testnet and regtest. Polar runs it's bitcoin & lightning nodes in regtest mode. The networks are self-contained with their own individual blockchains that are not compatible with the public bitcoin testnet network.

While this is an interesting idea, I still don't quite understand why you wou

[2021-01-11 19:41] lessless commented on #415
Hm. Maybe you're right!
My reasoning is that it's super easy - a few clicks and off you go.

But running it on testnet would be closer to production. Thanks for the tip!

[2021-01-12 16:43] jamaljsr commented on #415
Thanks for understanding. I'll close out this issue now.

[2021-01-12 16:43] #415 closed

[2021-01-16 23:23] murtyjones opened #418 "Feature Request: Implement real-time updates of channel balances from the nodes"
**Describe the bug**

While working on an [example app](https://github.com/murtyjones/polar/tree/feat/add-channel-opening-example) using Polar, I noticed that opening a channel in the app doesn't seem to reflect in the Polar UI. I assume this is a bug but not 100% sure if Polar is intended to show channels in the pending state.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a network

[2021-01-16 23:46] jamaljsr commented on #418
This isn't a bug, more of a feature request. Polar currently doesn't automatically update the UI when events occur on the network outside of Polar. We need to implement subscriptions to the `lnd` streaming RPCs and maybe do polling on the other implementations that don't support streaming/websockets.

For now, to sync the UI with the state of the nodes, first click on the canvas, then click on the

[2021-01-17 13:51] murtyjones commented on #418
Totally missed the sync button, thank you!

[2021-01-19 01:13] murtyjones commented on #418
I've started to play around with this but dealing with an issue that I'm not familiar enough with Electron/this app's setup to resolve.

If we create an IPC event for establishing the stream:
[code]

Then the stream that's returned from lnrpc (`LND.Readable<LND.GraphTopologyUpdate>`) is sent back as a plain JS object rather than an instance of a stream. I'm not sure that there's a way to re-serial

[2021-01-19 02:12] jamaljsr commented on #418
I understand the issue. The Electron IPC only supports sending & receiving plain JS objects, so streams are not going to work with this approach. The Electron main process would need to subscribe to the `lnd` streams, then forward the events to the renderer process. In the renderer, there would need to be a listener that receives these events and knows how to update the node associated with each e

[2021-01-19 13:34] murtyjones commented on #418
Okay, I think that makes sense! I'll play around with the implementations' support for event streaming and see what I find

[2021-01-21 16:25] #30 closed

[2021-01-26 02:35] murtyjones commented on #418
Spent a little bit of time with this [here](https://github.com/murtyjones/lightning-listening/blob/master/src/index.ts) and discovered the following:

- `lnd` has streaming as discussed
- `eclair` exposes a [websocket](https://acinq.github.io/eclair/#websocket) with channel opening events
- `c-lightning` seems to have nothing other than the standard synchronous calls which could be used in polling

[2021-01-26 14:36] jamaljsr commented on #418
Cool, thanks for investigating. Let me know if you have any questions for me.

[2021-02-02 13:43] bumi opened #424 "Feature Request: Support for remote Docker connections"
I was wondering if it is possible to connect to a remote Docker host.
[dockerode](https://github.com/apocas/dockerode#getting-started) seems to support SSH connections but I could not get it running so far - potentially because of the electron setup?

I've tried to pass SSH config when the Docker connections get initialized.
e.g. here: https://github.com/jamaljsr/polar/blob/feee7241edc1fdf0b68486b

[2021-02-02 16:41] bumi commented on #424
now I get some segfault when I try to run it in electron...
but yeah, you are right it is not worth looking into that further. From my first check I thought it could be a simple configuration option.

The reason was that I can not run Docker on my machine right now... but I also did not think this through :)

Thanks for your help and the insights!

[2021-02-02 16:41] #424 closed

[2021-02-03 08:20] michaelWuensch opened #425 "Feature Request: Open private channels"
**Is your feature request related to a problem? Please describe.**
For testing purposes it would be awesome to easily create private channels in polar

**Describe the solution you'd like**
When opening a channel in polar it would be cool if there was a simple checkbox named "private" which should be unchecked by default.
Private channel lines could be displayed semitransparent in the view graph.

[2021-02-06 04:35] jamaljsr commented on #425
This should be pretty easy to add. I also agree it would be cool to add some transparency to the channels in the graph so that they easily stand out. Thanks for the feedback 👍

[2021-02-07 23:10] bolatovumar commented on #403
@murtyjones @jamaljsr I'm just trying to run `yarn dev` now and I'm getting the same error @murtyjones was getting above (https://github.com/jamaljsr/polar/issues/403#issuecomment-741721442). I cloned the repo fresh so there shouldn't have been issues with any stale packages in `node_modules`. I have also deleted the `node_modules` folder and ran `yarn` a few times to same effect.

I'm running Nod

[2021-02-07 23:11] bolatovumar commented on #425
I wouldn't mind looking into this but I'm getting an error when running the dev version of Polar (left a comment here: https://github.com/jamaljsr/polar/issues/403#issuecomment-774785563).

[2021-02-10 03:45] jamaljsr commented on #403
Very strange. I'm not able to replicate the issue on my Mac or Windows machines.

I have Node v12.18.0 and Yarn v1.22.4.
I ran the following and it works for me:
[code]

Can you try deleting your `yarn.lock` file then running `yarn` again? Maybe there is some issues with the dependencies of dependencies that somehow I'm not seeing.

[2021-02-11 02:23] bolatovumar commented on #403
@jamaljsr tried all of the steps above and also updated my Node to version 12.18.0 just to make sure. Get the same error no matter how many times I try.

![Screen Shot 2021-02-10 at 6 21 59 PM](https://user-images.githubusercontent.com/1934678/107596589-1170b980-6bcd-11eb-97de-fc13cf559470.png)
![Screen Shot 2021-02-10 at 6 22 05 PM](https://user-images.githubusercontent.com/1934678/107596593-146b

[2021-02-11 03:54] jamaljsr commented on #403
I think the problem may be with outdated React DevTools plugins in your local Electron installation. Can you clear your Electron folder to clean up possibly stale data.
[code]

[2021-02-18 01:56] bolatovumar commented on #403
@jamaljsr alright, running `rm -rf ~/Library/Application\ Support/Electron/` fixed it.

[2021-02-22 00:06] bolatovumar commented on #425
Started working on this.

[2021-02-22 20:54] #408 closed

[2021-03-04 12:24] keblek opened #435 "Feature Request: Consider adding a short tutorial in lnbook"
I added a small shoutout to the project in the new lnbook

https://github.com/lnbook/lnbook/pull/645

It's a small tip, if someone here has an interesting idea for a short tutorial to do in polar then consider making a contribution.

In all fairness, polar is super simple to use so after the reader is done working with docker in the command line they can use polar very quickly.

[2021-03-24 21:13] joelklabo opened #442 "Creating Channels Hangs on M1 MacBook"
**Describe the bug**
When creating a test network with two LND nodes and one bitcoind I am able to deposit funds, mine blocks etc. but creating a channel seems to hang. This may only be an issue with the UI, not sure.

**To Reproduce**
Steps to reproduce the behavior: (following the Lapp tutorial on docs.lightning.engineering)
1. Create two LND nodes, one bitcoind node
2. Deposit funds in to Alice

[2021-03-25 01:46] joelklabo commented on #442
Did a little more looking around and saw `emu: uncaught target signal 11 (Segmentation fault) - core dumped` in the log of the LND node that was no longer updating blocks so this probably isn't a Polar issue.

More info here in case anyone else reports it: https://github.com/docker/for-mac/issues/5123

Doesn't seem to be a solution currently.

[2021-03-25 01:46] #442 closed

[2021-03-25 02:16] jamaljsr commented on #442
Thanks for the additional information on the root cause of the issue. Sad to hear that there's no solution yet on the docker side. Hopefully it can get resolved soon.

[2021-04-12 09:34] cstenglein opened #447 "Bug: Permission denied './docker-compose.yml' when trying to start the network / a node"
**Describe the bug**
When trying to start a newly created network, the error message:

`.PermissionError: [Errno 13] Permission denied: './docker-compose.yml'`

This happens for both trying to start a single node as well as starting the whole network via the orange start button.

Downloading the docker images by hand didn't change the behaviour.

EDIT: This makes it also unable to delete a network

[2021-04-12 11:28] cstenglein commented on #447
Solution:

I had docker installed as a `snap` package. This doesn't seem to work since polar doesn't seem to be in the `docker` group (see [snapcraft link to docker](https://snapcraft.io/docker).

Uninstalling the snap package with `snap remove docker --purge` and installing docker + docker compose with the [install instructions](https://docs.docker.com/engine/install/ubuntu/) worked.

[2021-04-12 11:28] #447 closed

[2021-04-21 04:06] AnthonyRonning opened #453 "Bug: c-lightning won't start up"
**Describe the bug**
I have a few environments and a new one. c-lightning doesn't seem to start up, the lnd nodes seem to be fine.

I end up with the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new network
2. Add a c-lightning node (any version seems to do this for me)
3. Wait until it fails

**Expected behavior**
Succeeds starting up c-lightning node

**Desktop (

[2021-04-21 05:04] jamaljsr commented on #453
This is an error I have not seen before. Has c-lightning nodes ever worked on your machine in the past?

It looks like the `bcli` plugin can't connect to `bitcoind` for some reason. One thing you can try is to add the `bitcoin-retry-timeout` to the Docker startup command to see if it needs more time.

Stop the network -> Right-click on the c-lightning node -> Advanced Options -> Paste the command

[2021-04-21 13:54] AnthonyRonning commented on #453
Yeah c-lightning nodes have worked for me before. Even the existing c-lightning node I had on an existing network seems to have the same problem.

I added that onto an existing and new node but it still seemed to produce the exact same log messages and error.

[2021-04-21 14:26] AnthonyRonning commented on #453
Ah, docker does this weird thing where disk space seems limited despite having plenty of actual space on my drive. Was getting docker build failures somewhere else that indicated a space issue.

`docker system prune` fixed it.

Thanks anyways!

[2021-04-21 14:26] #453 closed

[2021-04-29 09:09] jaonoctus opened #457 "RPC-Explorer"
I'm trying to connect the [RPC-Explorer](https://github.com/janoside/btc-rpc-explorer) to a node.

[code]

**To Reproduce**

Explorer **docker-compose.yml**

[code]

**Expected behavior**
Should be able to connect via RPC credentials

**Screenshots**
![image](https://user-images.githubusercontent.com/7918067/116526985-8db39880-a8b0-11eb-85e2-12cd87a39abd.png)

**Desktop:**
- OS: Ubuntu 20.10 64-bi

[2021-04-29 15:00] jamaljsr commented on #457
You are using `127.0.0.1` for the `BTCEXP_BITCOIND_URI` which will not work because bitcoind is not running on the `rpc-explorer` docker service. You'll need to use the IP of your host machine if you want it to connect to the Polar bitcoind node. This really isn't an issue with Polar.

[2021-04-29 17:37] jaonoctus commented on #457
@jamaljsr I tried with `0.0.0.0` as well. It's running on the same machine/network.

Also, what about the explorer on the [TODO list](https://github.com/jamaljsr/polar/blob/b6dcff2120cd1c7c739e3dd80af3ac025d1204d3/TODO.md)? Is there any way I can help to develop this?

[2021-04-29 21:11] jamaljsr commented on #457
`0.0.0.0` won't work either. The problem you are facing is that you are creating a docker container that needs to connect to the host:port of a container in a completely separate network. The Polar bitcoind node is running on in a docker container but it exposes port 18443 on your host machine. Your `rpc-explorer` container needs to connect to your host machine on that port to talk to bitcoind. Th

[2021-04-30 00:34] jaonoctus commented on #457
Oh, I see. Well, thank you very much for your patience!

I'm currently writing some new features for [BlueWallet.](https://github.com/BlueWallet/BlueWallet/issues/990#issuecomment-780242761) I can try to implement this and play around with the explorer later, for sure 👊

[2021-05-13 16:28] kzu commented on #388
Would be totally awesome to be able to name nodes. This would make also for a more realistic representation when discussing and brainstorming on the topology things might result in in actual production.

[2021-05-22 13:42] ramontayag opened #464 "Bug: some nodes keep restarting"
**Describe the bug**
Some nodes keep restarting, sometimes I'm unable to sync the whole polar graph at all

**To Reproduce**
Steps to reproduce the behavior:
1. Create a network with 4 LND, 3 c-lightning, 1 backend (I've seen it break with less)
2. Start network
3. See that not all start properly

**Expected behavior**
Expected them to start properly

**Screenshots**
Here's a screencast:
https://u

[2021-05-24 19:34] jamaljsr commented on #464
Hey @ramontayag thanks for the screencast, that was very helpful. It looks like docker is taking a long time to start up all these nodes. It took 50 seconds for Polar to connect to the bitcoind node successfully, while on my machine this only takes 8 seconds. The c-lightning nodes were online in ~60 seconds. Polar stopped trying to connect to the LND nodes after ~90 seconds. Once Polar stops tryin

[2021-05-25 02:31] ramontayag commented on #464
Thanks for the reply @jamaljsr!

Ok here it is:
[polar-startup4.log](https://github.com/jamaljsr/polar/files/6536070/polar-startup4.log)

Gathered more data: I spun up a network on a Macbook Air ~2015 model (Intel chip), and had no problems.

[2021-05-25 02:49] jamaljsr commented on #464
Did you attach the log file of a network that failed to start up properly? Based on the timestamps, it looks like all of the nodes were up in ~60 secs. The bitcoind node started in 15 secs. This doesn't appear to be the same behavior displayed in the initial screencast you posted.

[2021-05-26 10:27] bjarnemagnussen opened #465 "Bug: On custom LND images the server crashes when error message returns bytes"
**Describe the bug**
When running a custom LND image and calling `SendCoins` with e.g. the following address `bc1pw508d6qejxtdg4y5r3zarvary0c5xw7kw508d6qejxtdg4y5r3zarvary0c5xw7k7grplx`, then the server crashes, as can be seen in the log (see at the end).

I think the reason is that the error message returned contains a byte value (`\u0001`), and _maybe_ for custom images the logger cannot handle

[2021-05-26 15:32] jamaljsr commented on #465
Can you share the Dockerfile of your custom image?

[2021-05-27 06:44] bjarnemagnussen commented on #465
Thanks for looking into it!

Actually, after taking a deep look (and realizing that by mistake when testing on the official LND repo I used the Dockerfile that pulls down the master commit and therefore always failed), I think this is a bug with LND.

I have identified commit lightningnetwork/lnd@a620ce36824af7aee6201d9056df38c2c87d7a3d, which updates btcutil dep, to introduce this bug.

I therefo

[2021-05-27 06:44] #465 closed

[2021-05-29 03:58] ramontayag commented on #464
Hmm yes, they no longer restart in docker, but most nodes appear red in Polar:

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/25332/120057267-6ea55380-c074-11eb-8e6b-433dddf89963.png">

They're also unresponsive. I tried to open a channel after forcing one of them to restart (so I have two nodes that are green), but the open channel dialog is just hangs there.

Here

[2021-05-29 18:05] jamaljsr commented on #464
Ok, thanks for these logs. I see that the problem is indeed slow Docker performance. Polar currently waits 60 seconds for the nodes to respond to `getinfo` requests. After the 60s it will display the red failed status. If you get the failed startup on nodes then the UI will be out of sync with the docker containers and some operations will not behave as expected. This is why opening a channel isn'

[2021-05-30 05:02] #464 closed

[2021-05-30 06:06] #425 closed

[2021-05-31 13:32] michaelWuensch opened #470 "Feature Request: Locking Nodes"
**Is your feature request related to a problem? Please describe.**
The new lnd v0.13.0 version changed a lot in regards to unlocking nodes.
I would like to be able to test if unlocking in my application works by locking those nodes in Polar

**Describe the solution you'd like**
Ideally if a node was selected in the graph, in the details panel there could be a button "lock/unlock".
To avoid passwor

[2021-06-01 13:30] jamaljsr commented on #470
Hey @michaelWuensch, this is a good idea. However, "locking" of the LND node isn't possible as there isn't an RPC available to lock the node (see [WalletUnlocker.proto](https://github.com/lightningnetwork/lnd/blob/master/lnrpc/walletunlocker.proto#L29)). Unlocking the wallet would be possible but I think it may make sense to handle that in the app you're building, no?

[2021-06-01 13:49] michaelWuensch commented on #470
@jamaljsr
Unlocking the wallet is indeed handled by the app I am building.
And that is exactly what I want to test. I want to see, if the unlocking handling is still working in my app.
But for now wallets in polar are never locked, therefore I cannot test it with polar.
It is true, that there is no RPC to lock a wallet. But is it maybe possible to start a node in polar in a locked way?

[2021-06-01 13:57] jamaljsr commented on #470
Ah yes, it is possible to startup the nodes in a locked state. Before starting the network, right-click on the v0.13 node, go to Advanced Options, click on the Pre-fill Default Command icon, then remove `--noseedbackup` from the command. Now when the node starts, it will remain locked.

The only drawback to this is if the node isn't unlocked within 2 minutes, Polar will mark it as failed to startu

[2021-06-01 13:57] jamaljsr commented on #470
Ah yes, it is possible to startup the nodes in a locked state. Before starting the network, right-click on the v0.13 node, go to Advanced Options, click on the Pre-fill Default Command icon, then remove `--noseedbackup` from the command. Now when the node starts, it will remain locked.

The only drawback to this is if the node isn't unlocked within 2 minutes, Polar will mark it as failed to startu

[2021-06-01 17:00] michaelWuensch commented on #470
Okay thanks, that should work if I can setup that node.
How can I run the terminal on that node though? When I remove --noseedbackup I cannot hit the Launch Terminal Button, as the node never went online. If I can run the terminal, I should be able to do the rest.
My app does not support setting up the node, thats why I have to do that within polar/terminal.

[2021-06-01 19:25] jamaljsr commented on #470
Oh right. Polar won't show you the option to open a Terminal if it thinks the node hasn't started properly. You could bypass Polar in this instance and connect directly to the docker container using a command such as:
[code]
The path of the compose file assumes you only have one network defined in Polar. If you have multiple, you'll need to change the 1 to a 2 or 3 based on the order that they wer

[2021-06-16 17:31] calvinrzachman commented on #375
I think it might be that the container is using `sh` as the default shell. If I `exec` into the containers manually with `docker exec -it polar-n1-alice bash`, tab autocomplete works!

[2021-06-19 04:56] axelclark commented on #442
@joelklabo is this issue fixed or did you find a work around?

[2021-06-19 13:33] joelklabo commented on #442
I haven't tried again but it seemed to be an issue with docker on the M1 at
the time and nothing to do with Polar.

On Fri, Jun 18, 2021 at 9:56 PM Axel Clark ***@***.***> wrote:

[2021-07-09 19:27] RooSoft commented on #442
With an image created using [these instructions](https://github.com/jamaljsr/polar/blob/master/docs/custom-nodes.md#LND), it is possible to use a LND node flawlessly on a Apple Silicon computer.

[2021-07-09 19:30] RooSoft commented on #442
The working image has of course been built on an M1 Mac....

[2021-07-13 10:22] f-hayek opened #476 "Feature Request: Expose c-lightning rpc socket directly"
**Is your feature request related to a problem? Please describe.**
I'm trying to develop an app for c-lightning using Polar but noticed it uses RTL Rest endpoint (plugin).
It's slow (an order of magnitude slower than my Go app talking to the socket directly) and it doesn't support every feature that's exposed via the socket directly (eg other plugins that are available via the rpc)
so I don't want

[2021-07-14 06:29] jamaljsr commented on #476
Thanks for the feedback @f-hayek 👍

I recall spending a bunch of time attempting to get the `lightning-rpc` Unix socket to bind to a port of the Docker container using `socat`. Unfortunately, I was not successful and opted to use the `c-lightning-REST` plugin by RTL. It was pretty simple to implement and provided the basic functionality. I'd love to be able to make the `lightning-rpc` socket avail

[2021-07-14 10:27] f-hayek commented on #476
Thanks for the reply @jamaljsr - I'll look into it.

[2021-07-21 18:46] pseudozach opened #477 "Feature Request: Reveal Seed Phrase"
**Is your feature request related to a problem? Please describe.**
I'm trying to test lnurl-auth across different implementations both within polar and other mobile wallets. For this I need to make sure same seed phrase ends up with same lnurl-auth signature.

**Describe the solution you'd like**
It would be great if seed phrase is saved in a file or echoed to log file, or even better if it can be

[2021-07-24 14:24] jamaljsr commented on #477
Hey @pseudozach, for LND we use the `--noseedbackup` config flag to autogenerate a seed and automatically unlock the node on startup. You could try removing this flag in the Advanced Options of the node. Since the node will not unlock automatically, the UI will show an error because it thinks the node failed to startup. But you would still be able to interact with the node via the CLI.

Example:
[

[2021-07-26 18:35] ilyavf opened #478 "Feature Request: add LND connect URL for REST API."
**Is your feature request related to a problem? Please describe.**
LND connect Url contains parameters to work with GRPC API and not REST.

**Describe the solution you'd like**
Add a new field and a copy button for LND Connect REST API.

**Additional context**
![image](https://user-images.githubusercontent.com/1895948/127039604-efb0b43c-d74b-4eae-a0df-934744ac2490.png)

[2021-07-26 19:26] ilyavf opened #479 "Feature Request: add CORS headers to REST API responses so that browser can talk to Polar."
**Is your feature request related to a problem? Please describe.**
Browser cannot directly talk to Polar via REST API due to the CORS issue.

**Describe the solution you'd like**
Send CORS headers with every response for REST requests:
[code]

**Additional context**
I am working on a web wallet, and it's very handy to use Polar for this. Also its pretty easy to explain to a non-tech how to use Pol

[2021-07-26 19:28] WesleyCharlesBlake commented on #478
We need this !

[2021-07-26 20:12] eduardonunesp commented on #479
Would be awesome to have CORS headers like that

[2021-07-27 02:55] wbobeirne opened #480 "Feature Request: LND v0.13.x images"
O sweet Polar gods, can you bestow upon us fresh docker images for v0.13.0, and v0.13.1? I'm trying to find a regression somewhere and this would be amazingly useful. Thanks!

[2021-07-27 03:00] wbobeirne commented on #479
Devils advocate here: Polar should behave as much like LND as possible, including its lack of CORS headers by default. However, LND did add CORS configuration last year, so maybe making it configurable in the UI could be nice? https://github.com/lightningnetwork/lnd/pull/4141.

I would suggest to anyone working on a web wallet though: Plan for not having CORS headers for most user's nodes REST API

[2021-07-27 14:19] jamaljsr commented on #478
This should be pretty simple to implement. No objections from my end.

[2021-07-27 14:29] jamaljsr commented on #480
Lol.. sup WOB! What you over there cookin up, on the low?

We do have those images in Polar. Just hit the "Show All Versions" toggle, then scroll to the bottom and click "Check for new Node Versions".

![image](https://user-images.githubusercontent.com/1356600/127171932-6f5c970f-52a1-4eb9-8831-735eb46c557e.png)

I have to improve this experience because this is a question I get pretty often. I was

[2021-07-27 14:55] jamaljsr commented on #479
Thanks for the feedback all. I also feel like Polar should remain as close to the LND defaults as possible. I want to minimize features that automatically work in your dev environment but will require non-obvious manual configuration in production. This is why `keysend` and AMP are not enabled by default.

You can still get what you want by using Polar's [custom nodes](https://github.com/jamaljsr/

[2021-07-27 17:30] wbobeirne commented on #480
D'oh, shoulda known. In my opinion that's a very reasonable trade-off, but I appreciate that you took that into account. I leave it up to you to decide what the best path forward is, but this issue is clearly bupkis.

[2021-07-27 17:30] #480 closed

[2021-07-27 21:36] pseudozach commented on #477
thanks I realized that --noseedbackup is used after I opened the issue. However I wasn't able to manually generate a wallet and unlock it, docker just keeps crashing..

I guess now with lnd v0.13 there's an alternative method to have a seed phrase and also auto unlock with a file but that might be a bit of an overkill for this. I've since found another way to accomplish what I wanted to do, so fee

[2021-07-27 21:52] jamaljsr commented on #477
Cool, glad you found a solution 👍

[2021-07-27 21:52] #477 closed

[2021-08-10 04:36] bolatovumar commented on #478
What's the difference between the GRPC and REST `lndconnect` strings? Is it just the port? If not, can anyone point me to a resource which explains the difference? (I searched around but didn't find anything conclusive)

[2021-08-10 19:08] nyonson opened #482 "Bug: DOCKER_HOST environment variable not respected"
**Describe the bug**
Polar fails to connect to Docker on startup and shows the "Docker Not Detected" message even though the system should be compatible.

**To Reproduce**
Run the docker daemon on a different host than the standard `/var/run/docker.sock`.

**Expected behavior**
I believe that the `DOCKER_HOST` environment variable is the standard way to direct programs (e.g. Docker Compose) to the

[2021-08-10 22:42] nyonson opened #483 "Feature Request: Support user namespaced containers"
**Is your feature request related to a problem? Please describe.**
Podman (and maybe Docker?) now supports user namespaced containers. There are security benefits to running containers this way instead of depending on a root-ful daemon. User namespaced containers [change](https://www.redhat.com/en/blog/understanding-root-inside-and-outside-container) how user/group ids are mapped between the host

[2021-08-11 18:13] jamaljsr commented on #482
Yes, I would have made this same guess as you, but after looking at the `dockerode` source code, I've found that it uses `docker-modem` to talk to Docker. `docker-modem` does indeed inspect `DOCKER_HOST` in [modem.js](https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L23). So the issue may be that the env vars aren't being properly passed to the Electron app. Which Linux distro are y

[2021-08-11 18:20] nyonson commented on #482
I am running Arch. I'm happy to do some more debugging as well, I'll try to see if I can track it down to electron.

[2021-08-11 18:22] jamaljsr commented on #483
Thanks for pointing this out @nyonson. I was not aware of these user namespaced containers. The current way that Polar handles user permissions is not ideal, but it was the only way I could get it working across all 3 platforms at the time. I'll have to investigate more on Podman/Docker namespaces to see if it's possible to improve or simplify the implementation. Appreciate it 👍

[2021-08-11 18:23] jamaljsr commented on #482
Awesome! That would be very helpful. Thanks 🥇

[2021-08-30 13:38] noderunner11 opened #486 "Bug: Stuck opening channels"
**Describe the bug**
Created a new network of LNDs (0.13.1), deposited funds, mined blocks but the channels don't open. Tried to mine a few blocks because it said waiting for funding transaction to reach 3 confs but nothing happened after that too.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new network of multiple nodes
2. Deposit funds
3. Try opening channels
4. 2021-08-30 13:

[2021-08-30 15:40] jamaljsr commented on #486
Yes, this ia a known issue with the M1 machines. You can work around it by rebuilding the docker images on your machine. See https://github.com/jamaljsr/polar/issues/442

[2021-08-30 17:17] noderunner11 commented on #486
Could you help me build the image?
I am inside polar, I have to add a custom node? It's asking for a docker image, how do I get that?
I can git clone lnd in any folder and follow those instructions but how do I make polar pick up those?

[2021-08-30 17:26] jamaljsr commented on #486
There are instructions to build the image [here](https://github.com/jamaljsr/polar/blob/master/docs/custom-nodes.md).

Yes, you have to add a custom node.

Polar will automatically detect the docker images that were pulled or built on your machine and display them in the "Docker Image" field. You can also just type the name of the image, ex: `my-lnd-node:latest`

[2021-08-30 17:34] noderunner11 commented on #486
It worked! Thanks!

[2021-08-30 17:46] jamaljsr commented on #486
👍

[2021-08-30 17:46] #486 closed

[2021-08-31 01:57] #478 closed

[2021-09-06 14:20] walshe opened #488 "Bug: how long usually to start uo ?"

[2021-09-06 14:58] #488 closed

[2021-09-08 13:06] nyonson commented on #482
I poked around about and believe this is the root of the issue: https://github.com/electron/electron/issues/3306

I verified that the main electron process has the correct DOCKER_HOST env var. And it appears the the "zygot" subprocess don't when I inspected their `/proc/$PID/environ`. I am not sure the best path forward though, new to the electron framework.

[2021-09-08 21:39] nyonson commented on #483
The part of the current implementation which doesn't play nice with rootless containers is how the user are created dynamically in the docker-entrypoint.sh script. That requires the containers to start out running as root in order to create the new users. Could we instead base the user creation into the Dockerfile and use the `User` field in the docker-compose definition?

[2021-09-10 02:41] jamaljsr commented on #482
Thank for looking into this. 👍

I haven't confirmed myself but that electron issue seems like it could be the issue. I'll work on a fix when time permits.

[2021-09-13 15:21] noderunner11 opened #489 "LND.conf for each node you create"
Is there a way to set conf settings for each node you create? I see we can edit the image and start lnd with more flags but can we apply settings to each node separately?
I tried looking in the lnd folders of the nodes created but I did not find any individual conf file.

[2021-09-14 14:44] jamaljsr commented on #489
Yes, you can edit the startup flags. Right-click on a node then click "Advanced Options". Click on the pre-fill icon (3 lines) to fill the default command. Customize the flags to your liking.

[2021-09-15 12:26] noderunner11 commented on #489
Thanks!

[2021-09-15 12:26] #489 closed

[2021-09-19 11:14] ohenrik commented on #486
Should It not be possible to add M1 compatible nodes to Polar as standard for installations that run on M1 Macs?

[2021-09-20 20:14] jamaljsr commented on #486
Yes, it is possible to make multi-arch Docker images that will be compatible for both Intel and M1 Macs. I currently do not have an M1 Mac to test on so wouldn't feel comfortable publishing images that I cannot confirm will actually function properly.

[2021-09-20 20:20] jamaljsr commented on #483
My bad @nyonson, I haven't had a chance to look into this. I don't know if this would be possible atm.

[2021-10-11 22:09] secondl1ght opened #500 "Bug: Unable to establish node network on Linux"
**Describe the bug**
I have Polar running on PopOS and the network started but all of the nodes within the network are in error state.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Polar
2. Install Docker and Docker Compose
3. Run Polar as sudo
4. See network fail

**Expected behavior**
Networks starts and all nodes are active and connected.

**Screenshots**
![image](https://user-i

[2021-10-11 22:50] jamaljsr commented on #500
Hey @secondl1ght it sounds like docker is not starting up the containers properly.

Here are a few suggestions:
1. Right-click on the `backend1` node then click View Logs. Are there any errors logged?
2. I see you are running Polar as sudo. This shouldn't be necessary. Have you ran the post-install commands recommended by Docker (https://docs.docker.com/engine/install/linux-postinstall/#manage-doc

[2021-10-11 23:47] secondl1ght commented on #500
Thanks for the suggestions

1. Nothing is showing in these logs just a spinning 'loading' icon
2. I set up the Docker as non-root user and launched Polar, however I have the same behavior as before where Docker is not detected on startup. (If I run as sudo it is detected).
3. I went through these steps while using sudo because I could not complete without sudo and after running the docker compose

[2021-10-12 00:30] secondl1ght commented on #500
Yes I ran ```docker run hell-world``` without sudo and it worked

Good call, I ran the docker-compose command as root and got the following error output:

[code]

[2021-10-12 03:13] secondl1ght commented on #500
Unless I am missing something then it looks like I dont have the ```networks``` directory.

My ```/root/.polar/``` directory only contains one directory named ```logs```.

[2021-10-13 01:37] jamaljsr commented on #500
This is a bit of a mystery. The file had to exist to produce the file permission errors above. But ultimately, I was just trying to obtain more info. I think the workaround to run Polar as root is a dead end.

Let's focus on the "Docker Not Found" issue when running Polar as non-root as this is the use case that i've tested thoroughly and know should work. Can you run Polar, not as root, then chec

[2021-10-14 02:08] neb-b opened #502 "Bug: Network never comes online"
**Describe the bug**
I recently downloaded Polar but have never been able to successfully start any networks. My single LND node shows the startup error:
[code]

The bitcoind node says:
[code]

**Screenshots**
<img width="600" alt="Screen Shot 2021-10-13 at 10 06 03 PM" src="https://user-images.githubusercontent.com/16882830/137238444-7310d60b-f545-48a8-a54e-1cc16558250e.png">

**Desktop (please c

[2021-10-14 17:10] #502 closed

[2021-10-14 17:13] jamaljsr commented on #500
Great, we're making progress! 🙌

Can you try these steps again now to see what the docker logs say?
1. Delete all your networks in Polar and close the app
1. Open Polar without sudo
1. Create a new network with 1 LND node and 1 Bitcoin node, but do not start it
1. Close Polar
1. Open a Terminal and run `docker-compose -f ~/.polar/networks/1/docker-compose.yml up`
1. See if the nodes start or if an

[2021-10-14 20:35] secondl1ght commented on #500
Ok awesome!

Here is the new output:

[code]

Seems to be exiting on a permissions issue again.

[2021-10-15 03:33] izz-j opened #503 "Advice for developing with Polar"
Hey so I'm playing around with the default nodes (Alice, Bob, etc). I have a project on my host system that I would like to interact with the Alice Lightning node container. Basically, I'm trying to integrate lncli commands to manage payments for Alice node container from my host system. I'm doing this cause I don't want to run my entire project directory and editor (emacs) in a docker container.

[2021-10-15 21:21] jamaljsr commented on #500
It appears you still have some docker permission issues. The container cannot write to the volume mounted to your host OS. What are the permissions of the `~/.polar/networks/1/lnd/alice/` dir? Can you try deleting the whole `~/.polar` dir then reopen Polar. Maybe there were leftover files from previously running as root.

[2021-10-16 14:28] jamaljsr commented on #500
Thats looks like a port conflict which is a different problem. You have another program listening on port 8081. You can either close that app or change the port number in the `docker-compose.yml` file. Polar does this automatically when it starts the network.

Sure, DM me on Twitter or in the LND slack, im @jamaljsr on both

[2021-10-16 17:12] izz-j commented on #503
Sorry, yes I will rephrase. I have a project I am working on in my home directory (Debian). I want my code to interact with the polar nodes. How can I go about this?

Thank you again for your swift replies.

[2021-10-16 17:22] secondl1ght commented on #500
Ok I closed the other app and tried again but got the same permissions issue, sending you a message now.

[2021-10-16 18:15] jamaljsr commented on #503
Ah ok. Connecting your app to LND nodes in Polar depends on what programming language and application framework you are using. As a start, I would recommend taking a look at the sample app [walkthrough](https://docs.lightning.engineering/lapps/guides/polar-lapps) which is written in Typescript. There's also a companion [video](https://www.youtube.com/watch?v=6P0DZ74DmFA) that goes through this gui

[2021-10-16 18:21] izz-j commented on #503
Ah ok thank you for these resources I will check them out! My project is written in Common Lisp, but I was am calling shell commands with it as well. So essentially I planned on calling `lncli` commands with lisp.

[2021-10-16 18:27] jamaljsr commented on #503
Oh if you going to call `lncli` commands from your app, then you'll just need to use the flags I mentioned in https://github.com/jamaljsr/polar/issues/503#issuecomment-944016198 when executing the command. You will need to install `lnd` and `lncli` on your machine. You can just download the [binaries](https://github.com/lightningnetwork/lnd/releases) for your OS or [compile](https://github.com/lig

[2021-10-16 18:35] izz-j commented on #503
Yes exactly! Ok I see sorry for the confusion. I just grabbed those binaries! Thank you. How do I make the lnd binary use the bitcoin backened node in Polar? Cause when I run it, its looking for bitcoind.

[2021-10-16 19:20] izz-j commented on #503
It seems when I run the command you mentioned. It just sends me to the help menu. But when I run `lncli` I get this:
`[lncli] could not load global options: could not load TLS cert file: open /home/izz/.lnd/tls.cert: no such file or directory`

To me it looks like the global setting still needs to be overridden. Cause by default `lncli` is looking for the cert in my home directory as soon as it ru

[2021-10-16 19:28] jamaljsr commented on #503
The command I sent is incomplete, it only includes the config arguments needed to connect to the Polar `lnd` node. You have to append the subcommand that you want to execute, for example `getinfo` or `listchannels`. You may also need to change the port or paths based on your local Polar network. View the Connect tab for the correct values.

[2021-10-16 21:33] jamaljsr commented on #503
It's all good. Best of luck with your app.

[2021-10-16 21:33] #503 closed, assigned to nobody

[2021-10-18 20:28] #500 closed

[2021-11-05 19:31] jamaljsr opened #508 "Bug: LND fails to start after deleting TLS certs"
**Describe the bug**
If you start an LND node, then delete the TLS cert and key files, the node will fail to start again until Polar is restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new network with 1 bitcoind and 1 lnd node
1. Start the network
1. Open terminal for lnd node (alice)
1. `rm /home/lnd/.lnd/tls.*`
1. Restart `lnd` node (alice)

**Expected behavior**
The node

[2021-11-05 20:30] setpill commented on #508
Workaround:

[2021-11-07 03:06] zrock23 opened #511 "Bug: testnet network!?"
How to set -testnet network?
I don't think it works!?

[2021-11-07 03:44] jamaljsr commented on #511
Polar is not intended to be used on testnet. It's a developer tool meant for easily disposable LN networks. So you can only use it on regtest.

[2021-11-07 03:44] #511 closed

[2021-11-08 20:27] rserranon opened #512 "Bug: Unable to connect to bitcoin node ESOCKETTIMEDOUT"
Connection failed on a new network with 1 LND node and 1 Bitcoin node

Steps to reproduce the behavior:
1. Installed docker desktop
2. Installed Polar
3. Created a new network (1 backend, 1 LND node)
4. Started network

**Expected behavior**
bitcoins starts and LND starts

Error: Unable to connect to bitcoin node
ESOCKETTIMEDOUT

- OS:  Big Sur 11.6, Chip M1
- Polar Version: v1.3.0
- Docker Versio

[2021-11-08 21:59] jamaljsr commented on #512
Thanks for the bug report. This is a known issue. I just received an M1 machine and hope to have it resolved soon. There is a workaround available now, see https://github.com/jamaljsr/polar/issues/502.

[2021-11-08 21:59] #512 closed

[2021-11-18 01:40] niteshbalusu11 opened #513 "Docker Image fails to build for M1 Mac"
**Describe the bug**
Docker Image fails to build for M1 mac using these instructions:
https://github.com/jamaljsr/polar/blob/master/docs/custom-nodes.md

It fails with the following errors.

[code]

[2021-11-18 02:21] niteshbalusu11 commented on #513
I even tried building from source and changing the docker file for lnd and rebuilding the app but the build fails. Both `yarn dev` and `yarn package` fails with this error.

[code]

[2021-11-18 02:39] niteshbalusu11 commented on #513
Ok, update on the docker image building.

Had to change the Docker file to `ARG checkout="v0.13.1-beta"` instead of ARG checkout="master"

and changed the build command to `docker build --tag=m1mac/lnd --build-arg checkout=v0.13.1-beta .`

Can you please add support for lnd0.14.0 and also help me as to why the app isn't building from source using yarn?

[2021-11-18 03:35] jamaljsr commented on #513
Hey @niteshbalusu11, I finally have an M1 machine and I'm planning on working on updating the images over the weekend.

[2021-11-18 10:45] niteshbalusu11 commented on #513
Awesome, thanks!

[2021-11-18 12:43] niteshbalusu11 commented on #513
Ok, I was able to build master and 0.14.0-beta images as well.
Change needed was `FROM golang:1.17.3-alpine as builder` in the Dockerfile.

[2021-11-22 08:06] lucas-naman commented on #513
Hi @niteshbalusu11,

Did you find a way to make the bitcoind node work as well ?

Here is my error :

[code]

[2021-11-22 12:54] niteshbalusu11 commented on #513
Hey @lucas-naman

https://github.com/ruimarinho/docker-bitcoin-core

I used image from here and inside polar, I changed the start flags, used polar’s start flags and it works fine.

[2021-11-22 13:43] jamaljsr commented on #513
@lucas-naman make sure that the bitcoind Dockerfile is updated to download the ARM binaries, not the x64 ones.

I spent some time working on this over the weekend, but didn't complete it. I ran into that same error and now need to automate architecture detection for the Dockerfiles to download the correct binaries for each node implementation. I'm hoping to finish it up in the next day or two.

[2021-11-25 07:23] lucas-naman commented on #513
Thank you @niteshbalusu11 and @jamaljsr for your answers.
I will try your suggestions as soon as possible.

@jamaljsr the automatic detection sounds amazing. Just like polar.

[2021-11-27 13:24] michaelWuensch opened #515 "Feature Request: Update LND versions"
**Is your feature request related to a problem? Please describe.**
I have clicked the "check for new node versions"
The latest LND version seems to be 0.13.1
Since then 5 new versions have been released.

**Describe the solution you'd like**
Ability to add a LND 0.14.1-beta node

[2021-11-28 17:09] grunch opened #516 "Bug: no_route to node after node is manually stopped and started again"
I am not sure if this is a problem of polar or LND, I will try here first, I have a network with 3 LND nodes, Alice, Bob and Carol, all of them have channels and are balanced, they can send money to each other any time without problem, but if I shutdown carol and started it again she is now unable to receive payments, I just receive a `no_route` error message.

**Expected behavior**
All nodes shou

[2021-11-28 21:34] jamaljsr commented on #516
I've run into this plenty of times myself and usually waiting 5-10 minutes will resolve it. I believe it has something to do with the channel status flipping between active and inactive, but I'm not 100% sure of the exact reason. Does it work for you after waiting some time?

[2021-11-28 21:35] jamaljsr commented on #515
I have started working on this and should have it ready this week.

[2021-11-28 23:12] grunch commented on #516
yeah it works for me, thanks for the response, closing it

[2021-11-28 23:13] #516 closed

[2021-11-29 01:05] sako0938 commented on #515
Awesome this would be a great thing, waiting for the LND 0.14.1 release for Polar

[2021-11-30 04:49] sako0938 opened #517 "Bug: Issue interacting with Sparrow using Bitcoind backend"
**Describe the bug**
When using Sparrow wallet to connect to the generated bitcoind node, Sparrow adds a wallet folder into the bitcoind node. This ends up causing an error in Polar

**To Reproduce**
Steps to reproduce the behavior:
1. Create a polar network
2. Link Sparrow wallet to bitcoind using rpc
3. Start mining blocks in Polar
4. Get error:
5. ![image](https://user-images.githubusercontent.

[2021-11-30 05:22] sako0938 commented on #517
Trying to export the internal wallet like this: `bitcoin-cli dumpwallet "/home/bitcoin/.bitcoin/test1234.txt"` and import the xpriv into Sparrow, but I dont see the mined transactions...

[2021-12-01 14:18] niteshbalusu11 commented on #513
Hey - Looks like there is no easy straight forward way to dynamically set the lnd architecture in the download path, seems like a weird docker limitation. Not sure if you found something to get around that, if not can you release images that build lnd from source to get around this problem? Guess they just a take little longer to build.

[2021-12-05 11:00] qustavo opened #518 "Can't build due to './lib/tokenize'"
When trying to build `yarn package` or `yarn dev` I get this error:
[code]

What should I do in order to build it?

[2021-12-07 19:37] jamaljsr commented on #518
You're using NodeJS v17 which has compatibility issues. You should use the latest stable version which is v16.

[2021-12-07 19:37] #518 closed

[2021-12-09 00:55] secondl1ght opened #521 "Bug: Docker containers not shutting down when closing GUI"
**Describe the bug**
When exiting out of the application and then running `docker ps` it looks like the docker containers do not shut down and continue running after the GUI has been closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Polar and launch a network
2. Close out of the GUI
3. Check docker containers in terminal

**Expected behavior**
Docker containers get shutdown when GU

[2021-12-09 22:10] jamaljsr commented on #521
Thanks for the feedback. This has indeed been an annoyance to me every once in a while.

[2021-12-10 19:13] jamaljsr commented on #513
FYI: I have pushed new multi-arch images for Bitcoin Core v22.0 and LND v0.14.1-beta. These should work on M1 machines without any issues. Please check for the latest node updates to use those images in Polar. Let me know if there are any issues.

[2021-12-14 14:17] niteshbalusu11 commented on #513
Closing this issue, the new images work good.

[2021-12-14 14:17] #513 closed

[2021-12-23 04:18] kornpow opened #523 "Feature Request: Mine/send bitcoin to address"
**Is your feature request related to a problem? Please describe.**
I would like to use an external on-chain wallet for interacting with the regtest bitcoin network. Currently I have to go the shell and send a transaction an address generated in my external wallet software.

**Describe the solution you'd like**
I would like a "Mine to address" textbox in each bitcoin node, which allows me to easily

[2021-12-23 16:02] jamaljsr commented on #523
Thanks for the suggestion. I agree that it would be nice to have a simple "Send to Address" field for the Bitcoin node. This is something that isn't very difficult to add.

[2022-01-02 23:20] suhailsaqan opened #524 "How do I fully uninstall Polar from my Mac?"
I am trying to uninstall Polar from my Mac.

I am having problems with deleting nodes, it keeps erroring out. Therefore I want to remove the whole software and reinstall it again.

When I tried uninstalling it, the nodes come back after I reinstall it. How do I remove everything?

[2022-01-05 20:19] jamaljsr commented on #524
Hey, to remove all of Polar's files that are stored on your Mac, you can run the following commands

[code]

You'll also want to remove all docker images that were downloaded by Polar.

[code]

[2022-01-05 20:19] #524 closed

[2022-01-07 07:33] bjarnemagnussen opened #525 "Feature Request: Define persistent docker network"
**Is your feature request related to a problem? Please describe.**
I am trying out LND's remote db backend support (using postgres). However, since I cannot just via the GUI add a postgres service (or any other external service that may be supported in the future) and supporting each such service feels a bit overkill, I was thinking about an easy way to handle this better.

**Describe the solution

[2022-01-08 17:26] jamaljsr commented on #525
Thanks for the feedback and providing the details of your use case. What you're asking for makes total sense and I don't think it would be a huge amount of effort to implement.

My initial thought is that we add an additional field when creating a new Polar network. This field would allow you to specify an external Docker network to use. If a value is entered, then it will be paced into the docker

[2022-01-10 07:04] bjarnemagnussen commented on #525
Thanks! That sounds fantastic and would be very helpful to me!

[2022-01-10 18:53] khushbooag4 commented on #523
Can I work on this issue.

[2022-01-10 18:55] jamaljsr commented on #523
It's all yours! Go for it 👍

[2022-01-12 21:55] Marvel-Ib commented on #388
hi, @jamaljsr  I wanted to know if this is still okay to work on.  Not sure i can handle it but I would definitely love to try.

[2022-01-12 21:57] jamaljsr commented on #388
Thanks for asking. Yes, you can work on it. I am not aware of anyone currently implementing this feature.

[2022-02-04 08:12] ChristianChiarulli opened #531 "Feature Request: Add ability to resize text in xterm.js"
I am unable to resize text in the xterm.js instance

I would like to be able to press `ctrl+` to increase text size and `ctrl-` to decrease text size.

[2022-02-07 21:56] jamaljsr commented on #531
Thanks for the feedback. This shouldn't be difficult to implement, though I haven't looked into it.

[2022-02-08 03:23] deregs opened #532 "Bug: Eclair node fails to start on M1 Mac"
Has anyone gotten an Eclair node to work reliably on an M1 mac? LND works fine with the new arm image, and c-lightning works for some reason even without the arm image, but Eclair is hit or miss. I noticed that I can sometimes get Eclair to work when I start up an Eclair node, it fails to start, and then I start it again. Although even when I get it to start, opening channels to other nodes fails.

[2022-02-09 02:14] jamaljsr commented on #532
Yes, I have gotten bitcoind and lnd working on M1 Macs because they provide arm64 pre-built binaries. Eclair and c-lightning require compiling from source code and I havent figured out how to get multi-arch docker images built for them so far. I will revisit it soon now that I know someone is interested in seeing it implemented.

[2022-02-10 14:47] dangeross opened #533 "Feature Request: Ability to set base ports"
**Is your feature request related to a problem? Please describe.**
The base port for LND REST api for the first node is usually 8081. This port seems to conflict with other applications (e.g. local development), but in particular it conflicts with XCode build PhaseScriptExecution which runs on 8081.

    cd /Users/rosssavage/Source/Projects/react-mobile/ios
    /bin/sh -c /Users/rosssavage/Library

[2022-02-10 15:53] jamaljsr commented on #533
Thanks for this feedback. It shouldn't be too difficult to add a screen to the UI to specify these base ports.

[2022-02-27 19:20] mjschmidt opened #534 "Bug:"
**Describe the bug**
Logos and Node boxes around user nodes on UI for Polar on Ubuntu not rendering correctly

**To Reproduce**
Steps to reproduce the behavior:
Screenshot seems easiest way to express the issue
![image](https://user-images.githubusercontent.com/6544930/155896524-1efc2989-8175-4ca0-ad74-36e25da68a3b.png)

**Expected behavior**
A clear and concise description of what you expected to

[2022-02-28 04:28] jamaljsr commented on #534
Hey @mjschmidt thanks for the Feedback. Are you running Polar from the source code or the downloadable app? I've seen this happen if you run Polar in dev mode then switch to the prebuilt app or vice versa.

[2022-03-02 23:07] mjschmidt commented on #534
I have only downloaded the application and run by downloading and running the app image file from the releases.

[2022-03-02 23:08] mjschmidt commented on #534
Just sanity checked myself and redownloaded and re ran it to make sure.

[2022-03-03 03:27] jamaljsr commented on #534
Ah interesting. I have not ran into this one but I'll check it out. Thanks for the additional info 👍

[2022-03-05 07:08] kiwiidb opened #535 "Feature Request: Import remote nodes + package app as a dockerized web app"
**Is your feature request related to a problem? Please describe.**
At Alby, we have a dev environment with regtest bitcoind, multiple lnd, multiple cln, and an Eclair node. This is all running in a kubernetes cluster.
There is no great way to visualize this network.

**Describe the solution you'd like**
It would be cool to have Polar available as a dockerized web app, so it can be deployed  inside

[2022-03-05 12:34] jamaljsr commented on #535
Hey @kiwiidb thanks for the feedback. You are not alone in requesting this feature. The Zap/Strike team also saw a need for a UI like you described. See https://github.com/jamaljsr/polar/issues/327.

I do think this is a great idea and would like to see it implemented, but I honestly dont think Polar is the correct place to put it. In my opinion, it would probably be better to rip out the React UI

[2022-03-27 09:28] jonafll opened #540 "Feature Request: Update lightning nodes"
To use the latest features of lnd, c-lightning and eclair, the Docker images must be updated to the latest version.

LND: v0.14.2-beta
C-Lightning: v0.10.2
Eclair: v0.7.0

[2022-03-28 08:44] jonafll opened #542 "Feature Request: Always show "Check for new Node Versions""
**Is your feature request related to a problem? Please describe.**
The link for "check for new Node Versions" is only visible when "Show all Versions" is active. Then you have to scroll all the way down to find the link. This is especially annoying on small screens. Also, the link is hard to find that way, especially if you don't even know it exists.

**Describe the solution you'd like**
Maybe we

[2022-03-30 12:27] RenSylvain opened #544 "My Mac says -“Polar” cannot be opened because the developer cannot be verified.-"
Anybody know how to fix this?

[2022-03-30 12:32] RenSylvain commented on #544
Solved. Google result is as follows:

If you go to System Preferences > Security & Privacy and click on the General tab, you will see only two options for Allow apps downloaded from: App Store or App Store and identified developers.

[2022-04-04 01:12] jamaljsr commented on #544
Hey, thanks for the feedback. Yes, this is typical for Mac apps that do not sign the build with developer certificates. I've intentionally chosen not to do this for now because of the pretty big hassle for a minor benefit. I may revisit in the future if a more pressing need arises.

[2022-04-04 01:12] #544 closed

[2022-04-04 01:53] jamaljsr commented on #542
Thanks for creating this issue. I agree 100% with relocating the "Check for new Node Version" link. It is currently buried behind too many clicks.

Checking for new versions on startup would be cool if we can make it opt-in. Maybe on the initial "Let's Get Started" screen, there can be a checkbox to allow the user to enable automatic checks.

[2022-04-06 17:44] jaczkal opened #546 "Bug: Building custom docker images"
**Describe the bug**
I have M1 Apple chip, but never had issues with Docker when I was using `--platform=linux/amd64` parameter. I have just edited zlib version because `zlib-1.2.11.tar.gz` is not available anymore so I used `zlib-1.2.12.tar.gz`. That's all and then I ran:
[code]
Image is successfully builded, but in Polar I'm facing this error:

[code]

Any clues how to fix this? I have tried dif

[2022-04-06 17:53] #540 closed

[2022-04-07 07:44] jonafll commented on #542
Since there is no "global" settings menu, I think this is a good idea. I would also suggest adding this option to the Image Updates Modal, because once the user has created a network, they can't disable this option later unless they remove all their networks to show the initial "Let's Get Started" screen.

[2022-04-07 11:42] jamaljsr commented on #542
Yeah, that's a good point. Agreed

[2022-04-13 02:03] jamaljsr commented on #546
Hey @jaczkal I've tried building the c-lightning Docker image on an M1 with little success so far. I'm surprised to hear that you had it working prior to the zlib update, because I wasn't ever able to get it to build. I don't have a solid solution to the problem you are facing but it is certainly something that I do want to get resolved. I'd also like to get the Eclair node running on the M1 as we

[2022-04-15 17:35] OR13 opened #549 "Feature Request: verify developer macOS"
**Is your feature request related to a problem? Please describe.**
Fearful of installing anything related to blockchain where this is the message I see from the OS:
![Screen Shot 2022-04-15 at 12 32 58 PM](https://user-images.githubusercontent.com/8295856/163602499-aa6e7f93-bb20-4c23-a841-d3995dd56e27.png)

![Screen Shot 2022-04-15 at 12 39 10 PM](https://user-images.githubusercontent.com/8295856/

[2022-04-15 19:43] jamaljsr commented on #549
Duplicate of #544

While I do appreciate the concern about the warning, there is no gain to be had with me creating a developer certificate. Polar uses regtest bitcoin which has no value, so there is never any funds at risk. If you are concerned that the binary you've downloaded may contain malware, I think the better solution is to build it from the source code.

[2022-04-15 19:43] #549 closed

[2022-04-19 14:22] jaczkal commented on #546
Hi @jamaljsr, It is not probably an issue because of M1 Apple chip, because I faced the same issue when I was building it on Intel Core on Ubuntu 20.04.

I have tried c-lightning 0.8.1, your Dockerfile with only changed z-lib version.

Could you please try it and potentially provide me some steps? Thanks 🙏 I will test it then on both architectures.

[2022-04-20 03:05] jamaljsr commented on #546
Oh sorry, I assumed the issue was due to the M1.

Are you making the same Dockerfile changes as in this PR? https://github.com/ElementsProject/lightning/pull/5161

[2022-04-20 06:33] jaczkal commented on #546
Yess

[2022-04-20 06:55] jaczkal commented on #546
There is the image https://hub.docker.com/r/jaczkal/clightning-test if you wanna to see that error in Polar

[2022-04-20 15:21] jamaljsr commented on #546
On my Intel Mac, I changed the Dockerfile to use `zlib-1.2.12.tar.gz` and ran `docker build --build-arg CLN_VERSION=0.10.2 -t polarlightning/clightning:0.10.2 .`. The image worked without issue. I am able to open channels and route payments over the c-lightning node.

![image](https://user-images.githubusercontent.com/1356600/164263012-24ec118d-e840-4fc8-96e5-39fcc9c64719.png)

![image](https://us

[2022-04-20 15:48] jaczkal commented on #546
Sure,
<img width="665" alt="image" src="https://user-images.githubusercontent.com/56036748/164270413-24ca78f3-2c8a-4aa3-ad49-b76b71131324.png">

[code]

I see there are some new commits, I will try it as well

[2022-04-20 16:05] jaczkal commented on #546
With Dockerfile from latest commit I'm facing following issue on 0.10.2

[code]

and this one on 0.8.1

[code]

Everything build on M1, will try later on Intel

[2022-04-20 16:55] jamaljsr commented on #546
Ok, thanks for that info. I'm aware that the build will not work on the M1. This is a known issue that I haven't resolved yet.

c-lightning has a completely different [Dockerfile](https://github.com/ElementsProject/lightning/blob/master/contrib/docker/linuxarm64v8.Dockerfile) for the ARM architecture, but I haven't had a chance to try to get it working with Polar yet. I was easily able to get LND

[2022-04-20 17:09] jaczkal commented on #546
and have you any clues why this [Dockerfile](https://github.com/jamaljsr/polar/issues/546#issuecomment-1104090358) is not working on Intel?

[2022-04-20 17:45] jamaljsr commented on #546
Your Dockerfile is not going to work with the latest c-lightning `v0.10.1`. You have to use the latest [Polar Dockerfile](https://github.com/jamaljsr/polar/blob/master/docker/clightning/Dockerfile) in order to use the latest c-lightning version. We copy the updates directly from their repo.

If you want to use the older version of c-lightning `v0.8.1` which is compatible with your Dockerfile, you'

[2022-04-20 23:42] jaczkal commented on #546
Hey @jamaljsr, I've just successfully built it on Intel 🎉 and thats all I wanted. Thanks a lot for the help and your awesome tool 💪 I'm looking forward for updates. For me, this issue is resolved, if you want to close it and link it with the existing one about M1 support.

[2022-04-20 23:46] jamaljsr commented on #546
Awesome! Happy to hear you got it working. Best of luck building on Lightning ⚡️

[2022-04-20 23:46] #546 closed

[2022-04-23 00:48] aaronhayes commented on #476
@jamaljsr are you using a mac by any chance?

Sharing arbitrary unix sockets is not supported on Mac. https://github.com/docker/for-mac/issues/483#issuecomment-758836836

[2022-04-23 13:29] jamaljsr commented on #476
@aaronhayes yes, I am using a Mac. Thanks for the update. I'm going to close this since it cannot be resolved on our end.

[2022-04-23 13:29] #476 closed

[2022-04-24 00:21] aaronhayes commented on #476
fair enough. I do believe mounting the unix socket as a volume would work on unix but have no way to check (as I'm also on Mac).

CLN has a websocket connection coming in the next release, but that's for a seperate ticket ...

[2022-04-27 17:36] ErikEk opened #552 "Bug: bitcoind running on wrong port"
When I go into Action->Edit option (for any bitcoind instance), the config zmqpubrawtx parameter is set to tcp://0.0.0.0:28335, but under the Connect tab is shows that it run on tcp://127.0.0.1:29335. These were the default settings.
It seems like bitcoind is running on tcp://127.0.0.1:29335 when I try to connect to it.

[2022-04-27 19:05] jamaljsr commented on #552
Yes, this is how Docker internal networks are intended to work.

`0.0.0.0:28335` is the value passed to bitcoind to instruct it to listen on all interfaces on port `28335`. With this alone, you would not be able to connect to bitcoind from your host machine.

`28335:29335` is specified in the `docker-compose.yml` file for the network which maps port `28335` on the bitcoind node to port `29335` on

[2022-04-27 19:05] #552 closed

[2022-04-27 20:17] ErikEk commented on #552
@jamaljsr Thank you.

[2022-05-03 00:10] Praexor opened #553 "Docker Not Detected"
"Docker Not Detected" but I have it and running ubuntu 20 installation, nevertheless detect docker-compose, please help!

[2022-05-03 18:58] antonilol commented on #553
i get "Docker Not Detected" when i did not `systemctl start docker` yet, after i start docker and click try again it works

[2022-05-04 04:48] jamaljsr commented on #553
There should be a log file located at `~/.polar/logs/renderer.log`. Can you send the few lines proceeding the message
[code]

[2022-05-04 08:36] antonilol commented on #553
[code]

[2022-05-04 08:38] antonilol commented on #553
this socket file is exists when docker runs

[code]

[2022-05-04 15:26] antonilol commented on #553
Yes, but i have to start it with sudo (i can also systemctl enable it but i dont want it to start on boot)

[2022-05-04 15:38] jamaljsr commented on #553
Can you temporary test running Polar as sudo just to confirm that it's a permissions issue?

[2022-05-04 20:13] antonilol commented on #553
[code]

electron doesnt run as root...

my polar just works normally if i `systemctl start docker`, as you can see the permissions are `rw-` for group docker, which i am in, so i have write and read access to that socker without root

[2022-05-06 02:28] jamaljsr commented on #553
Sadly, my Ubuntu VM won't boot up so I can't troubleshoot your scenario in my own environment. I could be wrong, but I suspect the root cause is related to docker permissions and not something that can be solved by a change in Polar.

I'll leave this issue open in case others run into the same problem or would like to suggest potential solutions.

[2022-05-06 08:08] antonilol commented on #553
I would suggest you first check if docker is installed (check if /usr/bin/docker exists), then check if it is running. what now says 'docker not found' actually is 'no running docker found'

[2022-05-08 08:46] fusion44 opened #556 "Feature Request: Support Core Lightning v0.11.0 with gRPC interface"
**Is your feature request related to a problem? Please describe.**
Since v0.11.0 Core Lightning has a gRPC API similar to LND. Exposing this API would be a great addition.

**Describe the solution you'd like**
Expose this API. To start lightningd with gRPC support, pass the argument `grpc-port`. E.g. `lightningd --signet --grpc-port=9537`
CLN will create three files which must be available to clie

[2022-05-10 12:27] jamaljsr commented on #556
I'll get this added soon. Thanks for the additional details on the GRPC certs.

[2022-05-22 03:05] oldeucryptoboi opened #557 "Bug: Unable to connect to node"
**Describe the bug**
No wallet is loaded. Load a wallet using loadwallet or create a new one with createwallet. (Note: A default wallet is no longer automatically created)

**To Reproduce**
Just start Polar from scratch

**Expected behavior**
Working

**Additional context**
How do I set up a wallet in the docker image that has been downloaded by Polar?

What is the command I should add to dockerco

[2022-05-30 03:44] #556 closed

[2022-06-02 07:01] jamaljsr commented on #553
@riccardobl Thanks for the update and the workaround.

@antonilol would you mind trying to reinstall docker to see if this works for you as well?

[2022-06-02 07:03] jamaljsr commented on #557
I haven't seen this issue before. The bitcoind wallet should be automatically created for you when you start the network. Are you trying to run the network via the `docker-compose` CLI?

[2022-06-02 10:10] antonilol commented on #553
![image](https://user-images.githubusercontent.com/49868160/171606382-ef1f751f-703d-4290-9e01-4e8f61338993.png)
i clicked check again 4 times (notifications)

[code]

again as said earlier, the error message is wrong, at first when starting polar, with or without sudo, it says 'docker not found', when i `sudo systemctl start docker` and click 'check again' it works, i dont start docker on startup

[2022-06-08 14:02] Extheoisah commented on #523
Hi @jamaljsr  @khushbooag4 I'd like to know if this issue has or is currently been worked on?

[2022-06-08 21:14] jamaljsr commented on #553
Ah right. you were running into a slightly different issue. I haven't had a chance to get a Ubuntu VM setup to investigate further.

[2022-06-13 13:41] Extheoisah commented on #523
@jamaljsr Alright. I'm just getting used to Polar. I'd take this up and see what I can do

[2022-06-25 06:31] Marvel-Ib commented on #553
@antonilol  Just had a similar issue while setting up. A fix that worked for me

**For Docker:**
after you install docker do this:

[code]
**For  Docker Compose use this guide:**

https://www.smarthomebeginner.com/install-docker-on-ubuntu-22-04/

Move to the install docker-compose part

(newer tutorials install  docker compose in .docker/cli-plugins/ vs installing it in /usr/local/bin/ ) and i don

[2022-06-26 20:15] ConorOkus commented on #557
Not since core 21 or 22. You get this error message. Core no longer loads a wallet by default...

```No wallet is loaded. Load a wallet using loadwallet or create a new one with createwallet. (Note: A default wallet is no longer automatically created)```

[2022-06-26 20:36] jamaljsr commented on #557
Are you facing this issue too @ConorOkus?

Polar already [creates a default wallet](https://github.com/jamaljsr/polar/blob/master/src/lib/bitcoin/bitcoindService.ts#L28) if one doesn't already exist, during the [network startup](https://github.com/jamaljsr/polar/blob/master/src/store/models/network.ts#L626) process. This is why I asked @oldeucryptoboi if he was trying to start the network outside

[2022-06-28 22:01] ConorOkus commented on #557
Yes I've faced this issue before as well, core doesn't do this by default anymore.

[2022-06-29 13:26] PatrickGeyer opened #564 "Feature Request: Add RPM as well as .deb to release"
**Is your feature request related to a problem? Please describe.**
Feature Request: Add RPM as well as .deb to releases?

[2022-07-06 08:58] Jossec101 opened #566 "Feature Request: Automatic mining every X minutes"
Hi there! Awesome tool :)

**Is your feature request related to a problem? Please describe.**
Sometimes we want to mimick a bitcoin blockchain mining time
**Describe the solution you'd like**
A button in the UI with one setting to tell bitcoind to generate a block every N minutes

BR,

[2022-07-10 15:38] mjschmidt opened #567 "A quick thank you"
This product is awesome keep up the good work.

[2022-07-14 11:01] danielgranhao opened #569 "Bug: Can't create a new Lightning network"
**Describe the bug**
When I try to create a new Lightning network, I input a network name and how many managed nodes I want, but nothing happens when I press _Create Network_.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the _Create Network_ dialog
2. Input a network name
3. Press the _Create Network_ button
4. Nothing happens

**Expected behaviour**
A network should be created

**

[2022-07-22 11:30] ktecho opened #571 "Bug: Update es-ES.json from crowdin"
**Describe the bug**
I fixed the spanish translation in crowdin, so it needs to be taken from there to here.

[2022-07-22 22:12] ktecho opened #574 "Bug: Bot broke master while auto-updating dependencies"
**Describe the bug**

A failure message appears when you try to open a channel from one LN node to another (see screenshot below).

It worked yesterday, but it doesn't today:

In this commit, master breaks: https://github.com/jamaljsr/polar/commit/67be04ba073daa88ad64c9d7b82891cf7dbc7d92

I've tried checking out the previous commit and it works flawlessly, so I think that's the problem.

I could s

[2022-07-23 00:23] jamaljsr commented on #569
Apologies for the delayed response, I'm traveling at the moment.

To troubleshoot this, can you take a look at the log files in `~/.polar/logs/`? It would be easier to delete the files first, then reproduce the bug, then read the logs. You can share them in this issue as well, there isn't any personal info in them.

[2022-07-23 00:24] jamaljsr commented on #567
Hi @mjschmidt I really appreciate this feedback. Thanks so much for sharing. Please do share what you build on Lightning.

[2022-07-23 00:25] #567 closed

[2022-07-23 00:26] jamaljsr commented on #566
Agreed, this would be a great addition to add. Thanks for the feedback.

[2022-07-23 00:28] jamaljsr commented on #564
This looks like something that should be pretty easy to add to the code but will require setting up a linux VM since I run on a Mac. Thanks for the feedback.

[2022-07-23 00:31] jamaljsr commented on #574
Sometimes the automatic dependency updates break things at runtime even though all of the tests past. It likely just requires a small code change to become compatible with the new `bitcoin-core` version. I'll take a look next week.

[2022-07-25 07:17] danielgranhao commented on #569
Thanks for the help! Here are my log files:
[renderer.log](https://drive.google.com/file/d/1dO2wp8VbIyy0CCepbWpZCnoz0XrFlCtY/view?usp=sharing)
[main.log](https://drive.google.com/file/d/1PVKpWmesiCg-mwqn0rt6BW0IOe-hNRdL/view?usp=sharing)

[2022-07-28 15:28] ktecho commented on #571
Fixed another string for es-ES

[2022-07-28 16:30] ktecho commented on #574
This needs more testing, but the bot updated `bitcoin-core` to v4.1 and he upgraded some other dependencies too and `master` seems to work fine.

I'll report back when I do some more testing.

[2022-07-28 17:41] jamaljsr commented on #574
Cool. I haven't gotten a chance to test `master` yet, but will do it soon to see if I run into any issues.

[2022-07-28 17:46] jamaljsr commented on #571
Thanks for the translation fixes. I'll go in and approve your translations. Appreciate your help 👍

[2022-07-28 17:57] jamaljsr commented on #569
The logs you shared do not show that you attempted to create a new network. Can you repeat your steps to get to where you click on the "Create Network" button and nothing happens, then share the logs after that point.

[2022-07-28 18:15] danielgranhao commented on #569
These are the logs after I pressed "Create Network". I've just tried again and even pressed the button a bunch of times, but the logs don't change when I do so 🤔

[2022-07-29 15:15] ktecho opened #575 "Bug: balances for Core Lightning nodes are not updated correctly sometimes"
**Describe the bug**
Sometimes, after paying an invoice, the balance of the channel is not updated correctly, and the colors of the the lines in the channel are wrong too. This happens afaik only for Core Lightning nodes.

**To Reproduce**
1. Git clone Polar from `master` (it fails also for v1.3.0 AppImage)
2. Open Polar (`yarn ; yarn package; ./dist/polar-linux-x86_64-v1.3.0.AppImage`).
3. Create

[2022-07-29 15:25] ktecho commented on #575
What I've found after investigating the issue, is that after paying the invoice, `channel/listChannels` is done too soon for the first node, so the balance is not updated yet. For the rest of the nodes, the `channel/listChannels` is done later, so it's always correct.

I've seen this duplicating the `channel/listChannels` call that's done in `getChannels()` in `clightningService.ts`, so the first

[2022-07-30 04:16] jamaljsr commented on #575
I've ran into this issue before as well. The manual workaround is to just hit the refresh button in the sidebar, but it would be better to try to fix it.

Since RTL doesn't currently support the API's that we need, the best course of action would be to open a PR in the RTL repo to add them. I've done this in the past when I needed additional data for Polar. Also, I'm sure they would appreciate the

[2022-08-01 19:39] jamaljsr commented on #574
I tested `master` and was unable to reproduce this issue on my machine. I'm running on a Mac, so maybe the issue is only present on Linux. Please let me know if you gather any additional info or are able to reliably reproduce this.

[2022-08-01 20:37] #571 closed

[2022-08-01 20:44] ktecho commented on #574
Nah, I'm closing it, as I've been working with `master` since then a few times and it's working fine now. Thanks!

[2022-08-01 20:44] #574 closed

[2022-08-03 04:33] #542 closed

[2022-08-04 04:12] jamaljsr commented on #410
Going to close this issue now as I don't plan on working on it in the near future.

[2022-08-04 04:12] #410 closed

[2022-08-04 04:21] #479 closed

[2022-08-04 04:24] jamaljsr commented on #515
Resolved by #519

[2022-08-04 04:24] #515 closed

[2022-08-04 04:32] jamaljsr commented on #557
Can either of you provide any additional details on how & when you run into this issue. I've been trying but am unable to reproduce the problem myself.

[2022-08-04 05:00] jamaljsr commented on #569
I created #580 which will help diagnose why the network is not being created for you. Are you able to test this branch by running Polar in `dev` mode? If not, no worries. We'll just need to wait until I package up a new release to gather more info.

[2022-08-04 09:43] danielgranhao commented on #569
Thanks! When I run it, the issue is gone... 😲 if I open the old version again, the issue is still there. I will just use the most recent version 🙂 I'm curious what the issue was but don't know to diagnose

[2022-08-04 17:34] jamaljsr commented on #569
Cool. Thanks for trying it. I'm surprised that it works as well, but glad you're able to use Polar again.

[2022-08-04 17:34] #569 closed

[2022-08-04 22:10] ktecho commented on #575
I could add the methods in RTL, but having into account that the docker images are already generated and will have the old RTL, could we regenerate all the Core Lightning docker images so they contain the latest RTL API?

[2022-08-04 22:16] jamaljsr commented on #575
Yes, I can rebuild and push new images to DockerHub with the updated RTL.

[2022-08-04 22:33] ktecho commented on #575
Cool! I could give it a look next week if children left some free energy in me... :)

[2022-08-04 23:19] jamaljsr commented on #575
lol.. i know the feeling as well. Good luck 😁

[2022-08-11 15:57] mariogintili opened #582 "Bug: Insufficient balance when paying an invoice?"
**Describe the bug**

Hello everyone!

It looks like I can't get an invoice paid even though the account at hand has more than enough to pay

![polar-broken-demo](https://user-images.githubusercontent.com/3522106/184176299-a172d8b5-fdf5-48bc-90dc-fc835071617a.gif)

**To Reproduce**

- Download the latest version of polar for mac
- Create a test network
- Have 2 accounts with +1M sats
- Issue an in

[2022-08-11 18:50] jamaljsr commented on #582
The balance you see there is the on-chain wallet, not the balance on lightning. It looks like you havent created any channels yet. You have to open channels between the nodes in order to make a payment between them.

Check out the video on https://lightningpolar.com to see a walkthrough of opening channels and making a payment.

[2022-08-11 18:51] mariogintili commented on #582
thanks @jamaljsr 😄 I will check it out and comment back here. When I solve it I'll close the issue. I think a few people new to blockchain development will find this conversation helpful

[2022-08-13 06:11] mariogintili commented on #582
@jamaljsr setting up the channel was the issue, thank you very much!

On the other hand, the slack invite seems expired on the official website, how could I have an invite please? I am developing a lighting app and I'm struggling to find community support in general

[2022-08-13 06:19] #582 closed

[2022-08-13 14:37] jamaljsr commented on #582
Where is the broken Slack invite link? I'd like to fix it.

Unfortunately, the invite links provided by Slack have an expiration on them. You should always be able to find the working link on the https://lightning.engineering/ website.

[2022-08-14 10:38] mariogintili commented on #582
@jamaljsr

![broken-slack-link](https://user-images.githubusercontent.com/3522106/184533093-ac840a1e-e420-46b9-ac56-7ad40e053d14.gif)

[2022-08-15 13:52] limpbrains commented on #533
I'm having the same issue while working on React-native project. RN Metro bundler also uses 8081. Maybe you can just switch to some rare or random port?

[2022-08-15 13:55] limpbrains commented on #533
Way to fix this:
- add new LND to your network
- remove first one
- restart
now 8081 will be free

[2022-08-15 16:53] jamaljsr commented on #582
Thanks for the heads up. We'e updated the invite link. It works now.

[2022-08-23 05:13] jamaljsr commented on #435
Closing this as the book has already been released with the tip included. Thanks so much for the contribution.

[2022-08-23 05:13] #435 closed

[2022-08-23 06:06] #523 closed

[2022-08-27 07:46] iulian-moraru opened #587 "Upgrade nodes lnd v0.15.0"
Can you please tell me how I can upgrade the version of lnd in Polar? At the moment I have v.0.12.1-beta and I would like to upgrade to latest version v0.15.0-beta:

<img width="357" alt="image" src="https://user-images.githubusercontent.com/76161226/187020595-557eb900-5891-495c-8c87-42c357730a8a.png">

Thank you!

[2022-08-27 07:51] iulian-moraru commented on #587
Sorry about that. I just saw the "Check for new nodes version button"

[2022-08-27 07:51] #587 closed

[2022-08-31 06:18] #564 closed

[2022-09-01 19:38] thinkmassive commented on #553
The standalone `docker-compose` application is being deprecated in favor of the Compose plugin (used by `docker compose`). This error can happen when `docker-compose` is not installed but `docker compose` is available.

They claim it's a [drop-in replacement](https://docs.docker.com/compose/cli-command-compatibility/), however I still notice some small differences, such as container names delimite

[2022-09-01 19:55] thinkmassive commented on #553
Here's an easy workaround that I just tested w/Polar:
[code]

[2022-09-10 21:15] count-null opened #595 "Feature Request: support colima docker runtimes"
**Is your feature request related to a problem? Please describe.**
On macOS I prefer not to use docker desktop. It's not FOSS and I don't need another desktop app open when developing. I use https://github.com/abiosoft/colima as a docker runtime with docker and docker-compose installed with brew.

Polar does not detect the docker version and insists I install docker desktop, meanwhile I can use do

[2022-09-11 06:31] Ashleyhen opened #596 "Bug: Transaction isn't being mind"
![image](https://user-images.githubusercontent.com/84979436/189515170-7c191d5f-392d-4194-98a8-dd31cc3daccf.png)

Txid: c0fb19d5f93d58306f728bf36c1b8cefc2048f9c11370aa8793d5600905a70f6

![image](https://user-images.githubusercontent.com/84979436/189515277-34e34565-1a60-45c3-b52c-8ab42b0edd66.png)

![image](https://user-images.githubusercontent.com/84979436/189515293-630c73ec-e107-4367-ae9f-a9ffc2b5

[2022-09-11 15:44] jamaljsr commented on #596
Hey @Ashleyhen, which node wallet did you use to create the destination address that ends in `pxl6`?

[2022-09-11 15:49] Ashleyhen commented on #596
I used rust to generate a tr address

[2022-09-11 16:18] jamaljsr commented on #596
I am not fully understanding your setup. Is your Rust app using the `backend1` node's RPC API to create the destination address, or is it managing the wallet & private keys itself?

The reason I ask is because the `listunspent` command would only show the `pxl6` UTXO if  `backend1` was used to create the address. If the address (and private key) was created by your Rust app, then the 10 coins are

[2022-09-11 16:26] jamaljsr commented on #595
This is the first I am hearing of the `colima` project so I am not sure how it works. Polar uses the [dockerode](https://www.npmjs.com/package/dockerode) NPM package to detect and communicate with Docker. It can use these methods to detect the Docker installation on the host machine.

[code]

Does `colima` expose one of these interfaces that Polar could use to communicate with it?

[2022-09-11 23:50] Ashleyhen commented on #596
The rust app generates the private keys however, I thought if including the script the unspent transaction would be the transactions associated with that address s
 bitcoin-cli listunspent 6 9999999 "[\"bcrt1pp375ce9lvxs8l9rlsl78u4szhqa7za748dfhtjj5ht05lufu4dwsshpxl6\"]"

[2022-09-11 23:51] Ashleyhen commented on #596
The rust app generates the private keys however, I thought if including the script the unspent transaction would be the transactions associated with that address
 bitcoin-cli listunspent 6 9999999 "[\"bcrt1pp375ce9lvxs8l9rlsl78u4szhqa7za748dfhtjj5ht05lufu4dwsshpxl6\"]"

[2022-09-12 14:07] count-null commented on #595
Looks like colima puts the socket in a custom location: `$HOME/.colima/default/docker.sock`

https://github.com/abiosoft/colima/blob/main/docs/FAQ.md#docker-socket-location

[2022-09-12 14:34] count-null commented on #595
Seems like #482 would allow colima runtimes to work if solved

[2022-09-12 14:38] count-null commented on #595
I was able to hack it by creating a simlink to the expected sock location
`ln -s $HOME/.colima/default/docker.sock /var/run/docker.sock`

[2022-09-12 14:40] count-null commented on #595
Closing as duplicate

[2022-09-12 14:40] #595 closed

[2022-09-12 15:08] jamaljsr commented on #595
Thanks for the updates. Glad that you were able to find a workaround for now.

Agreed. Resolving this bug would likely fix this issue as well without needing the workaround.

[2022-09-12 15:22] jamaljsr commented on #596
From my understanding, `listunspent` will only display the unspent UTXOs that the `bitcoind` node is capable of spending from its internal wallet, which means it would have the private keys.

I think this is more of a Bitcoin Core question and not really an issue with Polar itself. I'm sure you'd be able to get a definitive answer by asking on the [Bitcoin Stack Exchange](https://bitcoin.stackexch

[2022-09-12 18:53] Ashleyhen commented on #596
I found the problem for some reason you have to tell bitcoin-cli to scan for externally generated addresses
with "importmulti" for example:

bitcoin-cli importmulti '[{"scriptPubKey": {"address": "bcrt1pp375ce9lvxs8l9rlsl78u4szhqa7za748dfhtjj5ht05lufu4dwsshpxl6"},"timestamp":1662835676}]' '{"rescan":true}'

[2022-09-12 18:53] #596 closed

[2022-09-12 19:23] jamaljsr commented on #596
Thanks for the update. I'm glad you were able to find the solution.

[2022-09-29 07:35] AlonzoRicardo opened #601 "Feature Request: Taro daemon"
How nice would it be to integrate the Taro daemon to the system, there will surely be a lot of developers looking to play around with it and i have found Polar to be extremely useful for development environments, is this something that has been considered already?

[2022-09-29 15:59] jamaljsr commented on #601
Yes, Taro is something I want to play with myself, so I'll definitely be spending some time on this pretty soon.

Thanks for the request, it's very helpful to know if others would find it useful as well.

[2022-09-29 21:46] pseudozach commented on #601
came here to see if this request existed.
+1
I'll also add, it would be cool to be able to add similar daemons like pool or peerswap.

[2022-10-01 04:53] niteshbalusu11 opened #602 "Bug: cannot get core-lightning image to build"
**Describe the bug**
A clear and concise description of what the bug is.

I am unable to build the core-lightning image, from both the custom instructions and also the using the docker file in the docker directory.
Tried on both `ubuntu amd64` and `mac arm64`.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to build the core-lightning image
2. Image fails to build with the following

[2022-10-01 05:07] niteshbalusu11 commented on #602
Tried both v0.12.0 and v0.12.1 from their repo as the args of the docker file

[2022-10-01 15:29] jamaljsr commented on #602
Hey @niteshbalusu11, I have not been able to get Core Lightning to build on arm64 either. I have to revisit this and see if I can get it working. I believe it requires a completely different Dockerfile.

The v0.12.0 amd64 image currently on Docker Hub was built using the Dockerfile currently in the repo. I'm not sure what's causing the issue you're running into but I'll try to run the build again

[2022-10-01 15:33] niteshbalusu11 opened #603 "Feature Request: Add websockets support for core-lightning"
core-lightning introduced websockets to talk the node using `--experimental-websocket-port=PORT` flag. Their unix sockets is something very hard to get it working with docker. Maybe websockets should be easy to add?

Their gRPC is too incomplete to be able to perform any meaningful dev work and REST is managed in-house and uses external libraries which I am not a fan of. Maybe websockets could be

[2022-10-01 15:35] niteshbalusu11 commented on #602
Cool ok, thanks!

[2022-10-01 17:20] jamaljsr commented on #603
That sounds pretty cool, but I'm not too fond of implementing features of the node implementations until they are out of the "experimental" stage.

If you want to play with it now, you can open the Advanced Options for the Core Lightning node in Polar and modify the startup command to add this flag. Polar won't surface any of the connection information in the UI, but you should still be able to us

[2022-10-01 17:39] niteshbalusu11 commented on #603
But don't you have to rebuild the docker image exposing an extra port and also adding ports for websocket in polar's code for them to be exposed at run time?
Adding the port in the conf settings wont expose it. Is there an easier way?

[2022-10-02 01:53] jamaljsr commented on #603
Yes, that is partially correct. You wouldn't have to rebuild the image, but you would need the docker-compose file to be updated to expose the websocket port to the host machine.

A simple yet hacky workaround that's doable with Polar right now is to just repurpose the gRPC port that's already exposed to the host machine. So just replace `--grpc-port=11001` with `--experimental-websocket-port=1100

[2022-10-02 02:16] niteshbalusu11 commented on #603
I forked polar and made changes, I'll submit a PR and you can review and merge it whenever you feel comfortable about it.

[2022-10-13 12:38] jamaljsr commented on #602
See https://github.com/ElementsProject/lightning/issues/5655#issuecomment-1277379437 for the fix to this. You'll need to checkout the `docker-v0.12.1` branch.

[2022-10-13 12:39] #602 closed

[2022-10-22 22:11] mroxso commented on #601
any updates on this? has work already began? can we contribute?

[2022-10-23 02:32] jamaljsr commented on #601
Yes, I have begun work on this. I'm currently trying to figure out an architecture that not only supports Taro but is also flexible enough to make adding additional node types as simple as possible. Nodes such as loop, litd, peerswap, fedimint, RTL, thunderhub, block explorers, and many others. This is a much bigger lift than implementing just Taro alone. I may have to save this project for anothe

[2022-10-24 02:28] sugarjig commented on #549
Hi @jamaljsr. I came across this issue after trying to create a Homebrew Cask for Polar. In the process, I learned that builds must be signed in order to be accepted by Homebrew. That would be one benefit to signing the build. I don't know if that's enough to convince you, but I thought I would bring it up! 😄

[2022-10-26 07:47] mroxso commented on #601
i don't know if it helps a little bit, but i created a PR on Taro for Docker implementation
https://github.com/lightninglabs/taro/pull/179

[2022-10-26 23:07] Kodylow commented on #553
Adding this here instead of making a new issue, running Polar on Mac for the first time and it can't detect Docker Desktop. The above worked for my ubuntu setup, but any way to fix detect docker desktop on Mac
![image](https://user-images.githubusercontent.com/74332828/198155219-40cec77d-80e3-446d-b98c-7e14bf1299b6.png)

[2022-10-27 05:47] jamaljsr commented on #553
@Kodylow I've had a few reports of this issue. I haven't been able to figure out why it happens on some Macs and not others, but there are a couple workarounds. What I observed is that this happens when opening Polar from the Spotlight search bar. For some reason, the `PATH` environment var fro the user's profile isn't being passed to Polar. So it cannot execute the `docker-compose` command.

Try

[2022-10-27 05:47] jamaljsr commented on #601
@mroxso  That does save me a bit of time. Appreciate the update.

[2022-10-27 05:55] jamaljsr commented on #549
Thanks for sharing this use case. It's not something I'd ever considered. I'll take another look at signing when time permits. But I can't make any promises that I'll implement it.

[2022-10-27 19:17] Kodylow commented on #553
Tried both of those, same issue.

Built your PR from source and noticed that the docker.sock file isn't in /var/run anymore on mac, it's in the .docker folder.

Just have to run `sudo ln -svf /Users/<USER>/.docker/run/docker.sock /var/run/docker.sock` to symbolic link it. Built from your PR and it worked with manually inputting the path, redownloaded the most recent release
<img width="881" alt="i

[2022-10-28 17:45] jamaljsr commented on #553
Interesting. I had not realized that Docker changed this path. Oddly, mine is still in `/var/run/` even though I'm using the latest Docker version. I wonder if this new path is only used for new installs. I'll have to look into these changes.

Thanks for this insight. It's very helpful 👌

[2022-10-28 17:57] thinkmassive commented on #553
Keep in mind that standalone `docker-compose` is deprecated. It's been replaced by the `compose` subcommand.

https://docs.docker.com/compose/cli-command-compatibility/

It appears the standalone binary is [still being released](https://github.com/docker/compose/releases), but ideally new development should support `docker compose`.

There's also a translator app called [compose-switch](https://gi

[2022-10-29 00:51] G8XSU opened #614 "Bug: Lost Blocks in Bitcoin-d after unclean node restart"
**Describe the bug**
After a block is mined, bitcoin-core does not immediately save it to disk.
But will broadcast it to clients. (in this case lightning nodes)

If bitcoin-node does not get cleanly stopped/restarted, that unpersisted block will be lost.
And when some client with previous block header tries to query it with blockhash, it will fail with "BlockNotFound"

**To Reproduce**
Steps to re

[2022-10-29 20:13] jamaljsr commented on #557
Closing this out due to inactivity.

[2022-10-29 20:13] #557 closed

[2022-11-02 03:05] benthecarman opened #616 "Bug: new releases not showing up"
**Describe the bug**

The latest versions of lnd are not showing up, my newest version is lnd 0.15.2 even after I check for updates

**To Reproduce**
Steps to reproduce the behavior:
1. Click check for updates
2. No updates are found

**Expected behavior**
Updates found

**Screenshots**
![image](https://user-images.githubusercontent.com/15256660/199385625-c4f98ef4-d13e-4372-b276-f2bba2985786.png)

[2022-11-02 16:17] jamaljsr commented on #616
Working on this now. Updates should be available in Polar within the hour.

[2022-11-02 16:27] jamaljsr commented on #616
Good to go!

![image](https://user-images.githubusercontent.com/1356600/199545973-ac47f704-ae27-4577-857c-32018c6ad0ff.png)

[2022-11-02 16:35] jamaljsr commented on #614
Thanks for the report and details. I have seen occasional issues with the LN nodes becoming out of sync with the bitcoind node but couldn't figure out why it was occurring. It's strange that bitcoind doesn't shutdown clean when it receives the `SIGTERM` signal from Docker. Do you have any isights into why this is the case?

The challenge is going to be how to handle shutting down via RPC before st

[2022-11-02 16:37] jamaljsr commented on #553
Yeah, I think the long term solution is just to remove the dependency on `docker-compose` and use the `docker compose` command instead going forward.

[2022-11-03 15:07] ConorOkus opened #618 "Connecting to electrs"
Is it possible to connect an [Esplora](https://github.com/blockstream/electrs) instance to Polar?

[2022-11-03 19:38] tony-voltage commented on #553
Thanks @Kodylow that fixed it for me on a brand new M1 Mac.

[2022-11-03 20:09] jamaljsr commented on #618
I haven't tried it myself but you should be able to run Electrs using a bitcoind node in Polar. It looks like you have to pass in the `--daemon-dir` flag which should point to the bitcoin data dir. With Polar nodes, this data is stored on your machine in the `~/.polar/networks/1/volumes/bitcoind/backend1/regtest/` dir. You may need to change the number `1` in the path since this corresponds to the

[2022-11-03 22:30] ConorOkus commented on #618
Okay that nearly worked but getting the following error:

`WARN - reconnecting to bitcoind: failed to read cookie from "/Users/cokus/.polar/networks/1/volumes/bitcoind/regtest/.cookie"`

Does Polar support cookie-based auth at all?

[2022-11-04 20:13] ConorOkus commented on #618
Got it working! Extremely helpful for mobile development. Thanks

[2022-11-04 20:13] #618 closed

[2022-11-08 06:17] crisdut opened #620 "Feature Request: Polar Widgets"
Polar is a great project, and I like to use it to explain how LN works and show the possibilities of the network. However, sometimes I miss some features to help me, like a "step-by-step guides" or "embed tutorials".

But I think extending Polar with these features will increase complexity, which also is out of scope.

Because of this, I start thinking about changing Polar to support Widgets.

**H

[2022-11-09 15:30] jamaljsr commented on #620
I think I understand what you are trying to accomplish. You'd like some extensibility points added to Polar which would allow others to create widget-like plugins that add additional functionality, such as step-by-step tutorials. Are you imagining the widgets living in the same codebase as Polar, or external plugins that can be loaded in at runtime?

[2022-11-09 22:53] crisdut commented on #620
Hi @jamaljsr,

Yes, exactly.

Well, I think the best solution is external repos. The users install widgets by command line or with an interface with a list of widgets.

[2022-11-10 03:26] casey-bowman opened #621 "Last 2 versions of LND not working"
Adding v0.15.2-beta LND nodes to a network works fine.

However, when adding a node that's either v0.15.3-beta or v0.15.4-beta, the node is not able to start up. The following message appears -

**To Reproduce**
Quit polar
Delete the folder ~/.polar
Start Polar
Update
Create a network with only one bitcoin node
Click on background in order to view Network Designer
Select "Show All Versions"
Add a

[2022-11-10 06:53] jamaljsr commented on #621
Ah, I see what the issue was. I mistakenly pushed arm64 v8 images to docker hub and not x86. I pushed new images just now. You'll just need to delete your local `polarlightning/lnd` images in Docker then restart Polar. It will pull the updated images and they should work fine now.

[2022-11-10 15:06] casey-bowman commented on #621
Great! Thanks, Jamal. I'll test them out today.

[2022-11-11 00:06] casey-bowman commented on #621
They work now. Thank you

[2022-11-11 00:06] #621 closed

[2022-11-13 01:58] benthecarman commented on #621
I am getting this issue on ubuntu amd64, the docker images don't update after I hit the update button it seems

[2022-11-13 02:23] jamaljsr commented on #621
Did you delete the local docker images? Polar will not display that there are new node versions. You have to manually delete the images using the `docker` CLI then Polar will download the new images from Docker Hub when you start a new network.

[2022-11-13 02:40] benthecarman commented on #621
That fixed!

[2022-11-13 19:36] HannahMR commented on #553
This solution worked for me!

I have a new computer running Ubuntu 22.04 and so did a fresh install of Docker to get Polar up and running. The Docker site instructed me to install Docker desktop for Linux which I did. However when running the Polar app image (polar-linux-x86_64-v1.4.0.AppImage) it was at first unable to detect Docker or Docker Compose. After adding my user to the Docker group the

[2022-11-14 22:00] amovfx opened #624 "Bug: M1 Mac: yarn dev only works with node 14 and not node 17"
**Describe the bug**
yarn dev wont work on node 17, users need to be on node 14
Maybe a line could be added to the Pre req in the Contributing.md?

I easily switched my node version to 14 so no big deal.

**To Reproduce**
Steps to reproduce the behavior:
1. Install node v17
2. install polar dips
3. ```yarn dev```
4. See error
[code]

**Expected behavior**
Note in the Contributing.md about node ver

[2022-11-14 22:54] amovfx commented on #508
Damn, I'm having the same problem. :(

[2022-11-14 23:00] jamaljsr commented on #624
Thanks for reporting this problem. I'm using Node v16.16.0 and it works, but it indeed breaks when using v17 or v18. I'll work on fixing this soon.

Just as a note, It's not recommended to use odd versions of Node because the devs do not offer long term support of odd versions.

[2022-11-15 15:50] jamaljsr commented on #620
This is an interesting idea. It's not something I can prioritize working on at the moment, but I would be fine reviewing a PR if someone else wants to work on implementing it.

[2022-11-15 16:33] crisdut commented on #620
Ok, don't worry.

I opened the PR to share some ideas.

Next week, I will start the implementation.

Thanks for feedback!

[2022-11-15 22:38] amovfx commented on #624
Thanks for the heads up.

[2022-11-16 01:08] #531 closed

[2022-11-16 23:08] jamaljsr commented on #624
I'm going to leave this open until the problem is fixed.

[2022-11-18 05:28] zackypick commented on #624
Hi @jamaljsr, I still owe you one answer relating to a line I added to the TODOs list which was related to upgrading project dependencies. I was referring to deps like Electron.js (we're currently on v13 but the current stable release is V21) and perhaps React (we use v17 vs current v18).

Don't get me wrong, I'm not in favor of chasing the latest and greatest dependencies and shiny new libs, howe

[2022-11-18 21:41] jamaljsr commented on #624
Thanks for the clarification. I agree with everything you mention. I'd like to upgrade Electron and React to the latest versions. I've been neglecting them because I know those are pretty big projects that will take a bunch of time and provide very little impact to the UX of Polar. I've essentially been waiting for something to break and box me into a corner where I have no choice but to do the wo

[2022-11-19 07:53] zackypick commented on #624
Right, that is a scary migration, did a few migrations over time and _fun_ was not part of the jargon I'd use to describe it :-)

I'd gladly look into that too sometime, but that would certainly break a whole lot of things, especially the Electron one.

Having said that, what really interests me most (and what brought me to this project in the first place) was to be able and work on bitcoin & LN c

[2022-11-19 08:31] zackypick commented on #624
Based on previous such migrations, here are some of the major steps that would be needed (not necessarily in that order):

1. New features/releases freeze (or at least slowed down significantly) until migration is done
2. Clean the UI from any Node.js (e.g. Node.Timer we happened to touch on) and Electron imports (code and types included)
3. Migrate to latest React stable version
4. Revisit/rewrit

[2022-11-19 19:52] amovfx commented on #601
@jamaljsr
For taro, Yea miniting, sending and signing( Which I don't think can be done yet).
I've started to hack this together, I'm working on adding master branches to the docker images through build targets. which seams feasible, but I was thinking it might be better to have a build script that tests against the version,

[code]
Maybe people would want a use specific tag of the github repo inst

[2022-11-19 21:17] jamaljsr commented on #624
Thanks for the write-up. You've listed pretty much everything that I believe would be necessary to perform the upgrade. It is indeed a lot of work. I will eventually get to it. Appreciate the discussion.

[2022-11-19 21:42] jamaljsr commented on #601
Hey @amovfx, yes I have already begun work on adding Taro support. I am implementing it in a somewhat generic way which will simplify adding additional dockerized "apps" for each node (ex: RTL, Thunderhub, Mempool.space, etc). This is a bit more work than just adding Taro alone but it'll open the door for more tooling support and UIs for the regtest networks. I should have an initial PR up in a we

[2022-11-20 00:07] amovfx commented on #601
@jamaljsr
Thanks, I'll continue to poke around, I'm learning a lot about polar. If you think I can help, I'm willing, I have a lot of time on my hands.

Are you making a generic interface for getting the commands into the sidebar node details as well?

[2022-11-20 04:26] zackypick commented on #624
Sure thing! when you get around to it maybe you'd like to let me know, and perhaps we could then make it a concerted effort.

[2022-11-20 04:29] zackypick commented on #624
BTW I see my automining PR is not listed for some reason. Should I open a new one instead once I get the compilation errors resolved?

[2022-11-20 12:18] jamaljsr commented on #624
It looks like you accidentally closed the PR https://github.com/jamaljsr/polar/pull/613. You can reopen it and continue working on it there.

[2022-11-20 14:20] jamaljsr commented on #601
Yes. It's not fully fleshed out yet but this is the goal.

[2022-11-21 03:05] amovfx opened #628 "Feature Request: vscode launch.json update with debug config"
**Is your feature request related to a problem? Please describe.**
vs code .launch file updated with a debug config

**Describe the solution you'd like**
Just a clear debug process

**Additional context**
I'm making decent progress, but I'm struggling to get a good debug workflow going with yarn dev

[2022-11-21 15:39] jamaljsr commented on #628
This would be pretty cool. I currently use the Chrome DevTools debugger but it would be convenient to be able to debug right from VSCode. 👍

[2022-11-21 16:48] AlonzoRicardo commented on #601
By the way, I have been working on a [TS Taro api module](https://github.com/hodlone/taro-api) which could be useful for this feature as well.

[2022-11-22 17:54] hsjoberg opened #629 "Feature Request: Add support for compact filters in bitcoind"
Add support for the bitcoind backend to act a compact block filter server for neutrino light clients.

[2022-11-22 19:14] jamaljsr commented on #601
@AlonzoRicardo this is great! Thanks for sharing. We'll likely need to use this.

[2022-11-22 21:13] #629 closed

[2022-11-22 21:45] amovfx commented on #601
@AlonzoRicardo Thanks for sharing this, huge help for getting a taro proxy client up and running.

[2022-11-23 03:40] benthecarman opened #631 "Enable keysend by default in lnd"
I don't know why lnd doesn't do this yet but would be nice to have polar at least do this.

[2022-11-23 04:10] jamaljsr commented on #631
You can configure Polar so that your LND nodes always have this flag set. Just go to Manage Images, click on Edit for the LND image you want to change, then modify the command line flags.

![image](https://user-images.githubusercontent.com/1356600/203467387-7dad1dc5-c395-4750-8786-81f8c4d0cf68.png)

In https://github.com/jamaljsr/polar/issues/479#issuecomment-887583254 I've given a longer explanat

[2022-11-25 23:21] amovfx commented on #631
Yea this is what I'm doing too and it works well.

[2022-11-25 23:25] amovfx commented on #601
I've been chipping away at this and finally have a docker stack with all the nodes running. GAH.
But there is some legit strangeness.
[code]
These commands are essentially identical. The command with the argument list that is commented out. Doesnt work at all, and taro will refuse to connect to lnd.
The second command from bash works and taro launches successfully.

I am at a complete loss.

[2022-11-25 23:26] #631 closed

[2022-11-28 15:00] jamaljsr commented on #601
Can you paste the docker logs when using the first command that doesn't work. It should start with something like "Running as taro user: ..."

[2022-11-28 20:03] amovfx commented on #601
@jamaljsr I got it all working now. It was the strangest thing, I noticed the argument in the debugger started with a hypen that was a few pixels longer that the other ones. I have no idea how it got in there, but it was a different character hypen. So lnd.host was being skipped by the parser.